/* ============================================
   GOOGLE FONT IMPORTS
   ============================================ */
/* Lexend Deca */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* ============================================
   WEB FONTS
   ============================================ */
@font-face {
  /* Doughy */
  font-family: "Doughy";
  src: local("Doughy"), url(../../assets/typefaces/Doughy-Regular.woff2) format("woff");
}
/* ============================================
   GLOBAL
   ============================================ */
body {
  /* transition during theme switch */
  transition: color var(--transition-100), background-color var(--transition-100), border-color var(--transition-100), fill var(--transition-100), stroke var(--transition-100);
}

/* illustrations */
.illu-stroke {
  fill: none;
  stroke: var(--clr-stroke);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.25px;
}

.carton-offwhite-3 {
  fill: var(--clr-carton-offwhite-3);
}
.carton-offwhite-4 {
  fill: var(--clr-carton-offwhite-4);
}
.carton-blue-1 {
  fill: var(--clr-carton-blue-1);
}
.carton-blue-2 {
  fill: var(--clr-carton-blue-2);
}
.carton-blue-3 {
  fill: var(--clr-carton-blue-3);
}
.carton-blue-4 {
  fill: var(--clr-carton-blue-4);
}
.carton-white-1 {
  fill: var(--clr-carton-white-1);
}
.carton-white-2 {
  fill: var(--clr-carton-white-2);
}
.carton-white-3 {
  fill: var(--clr-carton-white-3);
}
.carton-bg {
  fill: var(--clr-carton-bg);
}
.carton-h2 {
  color: var(--clr-carton-h2);
}

.cardboard-bg {
  fill: var(--clr-cardboard-bg);
  stroke: var(--clr-cardboard-bg);
  stroke-miterlimit: 10;
  stroke-width: 2px;
}
.cardboard-h2 {
  color: var(--clr-cardboard-h2);
}

.paper-bg {
  fill: var(--clr-paper-bg);
  stroke: var(--clr-paper-bg);
  stroke-miterlimit: 10;
  stroke-width: 2px;
}
.paper-h2 {
  color: var(--clr-paper-h2);
}

.metal-bg {
  fill: var(--clr-metal-bg);
  stroke: var(--clr-metal-bg);
  stroke-miterlimit: 10;
  stroke-width: 2px;
}
.metal-h2 {
  color: var(--clr-metal-h2);
}

/* ============================================
   RESET
   ============================================ */
/* === ANDY BELL'S CSS RESET ================== */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html, html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* === SITY SPECIFIC RESETS ================== */
body, html {
  height: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
}

/* remove default focus ring */
*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

ol, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* ============================================
   ROOT
   ============================================ */
:root {
  /* ========================================
     VARIABLES
     ======================================== */
  --border-main: 0 0 0 1px var(--clr-border);
  --main-max-width: 2200px;
  --main-pad-vrt: min(5vw, calc(var(--main-max-width) * 0.05));
  --main-pad-hrz: min(5vw, calc(var(--main-max-width) * 0.05));
  --main-pad-lg: min(10vw, calc(var(--main-max-width) * 0.1));
  --tooltip-pad-vrt: 0.2rem;
  --tooltip-pad-hrz: 0.65rem;
  --transition-50: 50ms ease;
  --transition-100: 100ms ease;
  /* === COLORS ============================= */
  /* light theme (default) */
  --clr-900: #272e00;
  --clr-800: #4a7055;
  --clr-800a: #d48d1c;
  --clr-100: #9bbda2;
  --clr-0: #c9debf;
  --clr-border: #272e00;
  --clr-stroke: #202220;
  --clr-carton-offwhite-3: #e0ddca;
  --clr-carton-offwhite-4: #c5c9b5;
  --clr-carton-blue-1: #93ded7;
  --clr-carton-blue-2: #5db9cf;
  --clr-carton-blue-3: #5f95ba;
  --clr-carton-blue-4: #5f7fb3;
  --clr-carton-white-1: #f2f2f2;
  --clr-carton-white-2: #d6d6d6;
  --clr-carton-white-3: #b5b5b5;
  --clr-carton-bg: #86c2b9;
  --clr-carton-h2: #144352;
  --clr-cardboard-bg: #d4b796;
  --clr-cardboard-h2: #543c1e;
  --clr-paper-bg: #cecfa8;
  --clr-paper-h2: #494a34;
  --clr-metal-bg: #d6b5a7;
  --clr-metal-h2: #593426;
}

/* dark theme */
[data-theme=dark] {
  --clr-900: #FFFFFF;
  --clr-800: #dae8e2;
  --clr-800a: #eda12b;
  --clr-100: #567366;
  --clr-0: #3f544f;
  --clr-border: #111715;
  --clr-stroke: #202220;
  --clr-carton-offwhite-3: #b5b2a3;
  --clr-carton-offwhite-4: #9fa393;
  --clr-carton-blue-1: #7fbfba;
  --clr-carton-blue-2: #51a1b5;
  --clr-carton-blue-3: #5382a1;
  --clr-carton-blue-4: #536e9c;
  --clr-carton-white-1: #e0e0e0;
  --clr-carton-white-2: #c4c4c4;
  --clr-carton-white-3: #9e9e9e;
  --clr-carton-bg: #4f7572;
  --clr-carton-h2: #d6faff;
  --clr-cardboard-bg: #736555;
  --clr-cardboard-h2: #ffecd6;
  --clr-paper-bg: #6e7056;
  --clr-paper-h2: #fdffcf;
  --clr-metal-bg: #7a625b;
  --clr-metal-h2: #ffe0d4;
}

/* high contrast theme */
[data-theme=hc] {
  --clr-900: #000000;
  --clr-800: #255232;
  --clr-800a: #ab6800;
  --clr-100: #d5e8dc;
  --clr-0: #f7fff2;
  --clr-border: #000000;
  --clr-stroke: #000000;
  --clr-carton-offwhite-3: #f0edd8;
  --clr-carton-offwhite-4: #c0c4b1;
  --clr-carton-blue-1: #FFFFFF;
  --clr-carton-blue-2: #7fdaf0;
  --clr-carton-blue-3: #6fadd9;
  --clr-carton-blue-4: #5a79a8;
  --clr-carton-white-1: #FFFFFF;
  --clr-carton-white-2: #e6e6e6;
  --clr-carton-white-3: #a6a6a6;
  --clr-carton-bg: #b9ede5;
  --clr-carton-h2: #0f3845;
  --clr-cardboard-bg: #f2dbc2;
  --clr-cardboard-h2: #452d0f;
  --clr-paper-bg: #eff0c2;
  --clr-paper-h2: #42450f;
  --clr-metal-bg: #f0d2c5;
  --clr-metal-h2: #451f10;
}

/* ========================================
    BREAKPOINTS
    ======================================== */
@media only screen and (max-width: 1200px) {
  :root {
    --main-pad-vrt: 7vw;
    --main-pad-lg: 13vw;
  }
}
@media only screen and (max-width: 600px) {
  :root {
    --main-pad-vrt: 17vw;
    --main-pad-lg: 23vw;
  }
}
/* ============================================
   TYPOGRAPHY
   ============================================ */
body, button {
  font-family: "Lexend Deca", sans-serif;
  color: var(--clr-900);
}

h1 {
  font-family: "Doughy", sans-serif;
  font-size: 7rem;
  color: var(--clr-800);
}
h1.hero {
  font-size: min(8vw, 176px);
  letter-spacing: 0.01em;
  line-height: 0.95em;
}

h2 {
  font-family: "Doughy", sans-serif;
  font-size: 5rem;
  color: var(--clr-800);
}

:root {
  --fs-9: 0.9rem;
  --fs-10: 1rem;
}

/* ========================================
    BREAKPOINTS
    ======================================== */
@media only screen and (max-width: 1200px) {
  h1.hero {
    font-size: 11vw;
  }
}
@media only screen and (max-width: 600px) {
  h1.hero {
    font-size: 14vw;
    line-height: 1em;
  }
}
/* ============================================
   TOOLTIP
   ============================================ */
.tooltip::after {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  font-size: var(--fs-9);
  padding: var(--tooltip-pad-vrt) var(--tooltip-pad-hrz);
  border-radius: calc(var(--tooltip-pad-vrt) + var(--fs-9));
  background-color: var(--clr-100);
  transform: scale(0);
  transition: transform var(--transition-50);
}/*# sourceMappingURL=main.css.map */