// Partial SCSS file containing color variables



// ============================================
// COLORS
// ============================================

// light theme
$light: (
    900: #272e00,              /* active text color */
    800: #4a7055,              /* default text color */
    800a: #d48d1c,             /* default accent color */
    100: #9bbda2,              /* secondary background color */
    50: #acd1b2,               /* footer background color */
    0: #c9debf,                /* default background color */
    border: #272e00,           /* border color */

    /* illustrations */
    stroke: #202220,

    carton-offwhite-3: #e0ddca,
    carton-offwhite-4: #c5c9b5,
    carton-blue-1: #93ded7,
    carton-blue-2: #5db9cf,
    carton-blue-3: #5f95ba,
    carton-blue-4: #5f7fb3,
    carton-white-1: #f2f2f2,
    carton-white-2: #d6d6d6,
    carton-white-3: #b5b5b5,
    carton-bg: #86c2b9,
    carton-h2: #144352,

    cardboard-bg: #d4b796,
    cardboard-h2: #543c1e,

    paper-bg: #cecfa8,
    paper-h2: #494a34,

    metal-bg: #d6b5a7,
    metal-h2: #593426,

    aluminum-bg: #b4cccb,
    aluminum-h2: #404f4f,

    glass-bg: #9dcfb2,
    glass-h2: #36473d,

    plastic-bg: #c0b6d1,
    plastic-h2: #433b52,
);



// dark mode
$dark: (
    900: #e7f5ef,              /* active text color */
    800: #dae8e2,              /* default text color */
    800a: #eda12b,             /* default accent color */
    100: #567366,              /* secondary background color */
    50: #435e58,               /* footer background color */
    0: #3f544f,                /* default background color */
    border: #111715,           /* border color */

    /* illustrations */
    stroke: #202220,

    carton-offwhite-3: #b5b2a3,
    carton-offwhite-4: #9fa393,
    carton-blue-1: #7fbfba,
    carton-blue-2: #51a1b5,
    carton-blue-3: #5382a1,
    carton-blue-4: #536e9c,
    carton-white-1: #e0e0e0,
    carton-white-2: #c4c4c4,
    carton-white-3: #9e9e9e,
    carton-bg: #4f7572,
    carton-h2: #d6faff,

    cardboard-bg: #736555,
    cardboard-h2: #ffecd6,

    paper-bg: #6e7056,
    paper-h2: #fdffcf,

    metal-bg: #7a625b,
    metal-h2: #ffe0d4,

    aluminum-bg: #627575,
    aluminum-h2: #d6ffff,

    glass-bg: #5a7365,
    glass-h2: #d6ffe7,

    plastic-bg: #655e73,
    plastic-h2: #e4d6ff,
);



// high contrast mode
$hc: (
    900: #1f452a,              /* active text color */
    800: #255232,              /* default text color */
    800a: #ab6800,             /* default accent color */
    100: #d5e8dc,              /* secondary background color */
    50: #dff2e6,               /* footer background color */
    0: #f7fff2,                /* default background color */
    border: #000000,           /* border color */

    /* illustrations */
    stroke: #000000,

    carton-offwhite-3: #f0edd8,
    carton-offwhite-4: #c0c4b1,
    carton-blue-1: #FFFFFF,
    carton-blue-2: #7fdaf0,
    carton-blue-3: #6fadd9,
    carton-blue-4: #5a79a8,
    carton-white-1: #FFFFFF,
    carton-white-2: #e6e6e6,
    carton-white-3: #a6a6a6,
    carton-bg: #b9ede5,
    carton-h2: #0f3845,

    cardboard-bg: #f2dbc2,
    cardboard-h2: #452d0f,

    paper-bg: #eff0c2,
    paper-h2: #42450f,

    metal-bg: #f0d2c5,
    metal-h2: #451f10,

    aluminum-bg: #d6f2f1,
    aluminum-h2: #124545,

    glass-bg: #c2f2d6,
    glass-h2: #104525,

    plastic-bg: #e2d7f2,
    plastic-h2: #220f45,
);