// Partial SCSS file containing color variables



// ============================================
// COLORS
// ============================================

// light theme
$light: (
    900: #272e00,              /* active text color */
    800: #4a7055,              /* default text color */
    800a: #d48d1c,             /* default accent color */
    100: #9bbda2,              /* secondary background color */
    0: #c9debf,                /* default background color */
    border: #272e00,           /* border color */
);



// dark mode
$dark: (
    900: #FFFFFF,              /* active text color */
    800: #dae8e2,              /* default text color */
    800a: #d48d1c,             /* default accent color */
    100: #3f544f,              /* secondary background color */
    0: #4f695d,                /* default background color */
    border: #111715,           /* border color */
);



// high contrast mode
$hc: (
    900: #000000,              /* active text color */
    800: #000000,              /* default text color */
    800a: #d48d1c,             /* default accent color */
    100: #d5e8dc,              /* secondary background color */
    0: #f7fff2,                /* default background color */
    border: #000000,           /* border color */
);