// Partial SCSS file containing variables



// === USE ====================================
@use 'colors' as *;


/* ============================================
   VARIABLES
   ============================================ */

// === BREAKPOINTS ============================
$breakpoint-smdesktop: 1450px;
$breakpoint-tablet: 1250px;
$breakpoint-mobile: 650px;

:root {
    /* ========================================
       CSS VARIABLES
       ======================================== */

    --max-width: 1800px;
    --nav-size: 80px;

    --border-main: solid 2px;
    --focus-outline: solid 0.16rem;
    --border-main-ds: 0 0 0 1px var(--clr-stroke);
    --border-radius: 16px;
    --border-raidus-sm: 0.4rem;
    --boxShadow-main: 0 11px 48px -19px;

    --pad-xxl: 192px;
    --pad-xl: 128px;
    --pad-lg: 96px;
    --pad-md: 48px;
    --pad-sm: 24px;
    --pad-xs: 16px;
    --pad-xxs: 8px;

    --pad-main: 29px;
    --pad-vrt: min(7vw, calc(var(--max-width) * 0.07));
    --pad-hrz: min(6vw, calc(var(--max-width) * 0.06));
    --pad-cat: min(4.5vw, calc(var(--max-width) * 0.045));
    // s--pad-xl: min(15vw, calc(var(--max-width) * 0.15));
    // --pad-lg: min(8vw, calc(var(--max-width) * 0.08));
    // --pad-md: min(6vw, calc(var(--max-width) * 0.06));
    // --pad-sm: min(3vw, calc(var(--max-width) * 0.03));
    // --pad-xs: min(2vw, calc(var(--max-width) * 0.02));
    // --pad-xxs: min(1vw, calc(var(--max-width) * 0.01));
    --tooltip-pad-vrt: 3.2px;
    --tooltip-pad-hrz: 10.4px;

    --inline-link-border-radius: 4.8px;

    --header-height: 208px;
    --soon-height: min(30vw, calc(var(--max-width) * 0.3));

    --transition-50: 50ms ease;
    --transition-100: 100ms ease;
    --transition-200: 170ms;
    --transition-300: 300ms;

    --transition-smoothEase: cubic-bezier(.56,0,.13,.99);

    /* category pages */
    --steps-border-radius: min(3vw, calc(var(--max-width) * 0.03));
    --steps-pad-vrt: min(5vw, calc(var(--max-width) * 0.05));
    --steps-pad-hrz: min(5vw, calc(var(--max-width) * 0.05));
    --steps-item-gap: min(3vw, calc(var(--max-width) * 0.03));
    --steps-h2-pad-top: max(calc(var(--max-width) * -0.006), -0.6vw);

    --recyclebin-pad-top: min(3vw, calc(var(--max-width) * 0.03));
    --plasticbag-pad-top: min(2vw, calc(var(--max-width) * 0.02));

    /* === COLORS ============================= */

    /* light theme (default) */
    // parse $colors into CSS variables
    @each $name, $value in $light {
        --clr-#{$name}: #{$value};
    }
}

/* dark theme */
[data-theme="dark"] {
    // parse $colors into CSS variables
    @each $name, $value in $dark {
        --clr-#{$name}: #{$value};
    }
}

/* high contrast theme */
[data-theme="hc"] {
    // parse $colors into CSS variables
    @each $name, $value in $hc {
        --clr-#{$name}: #{$value};
    }
}

/* animations */
@keyframes rotateForever {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/* ========================================
    BREAKPOINTS
    ======================================== */

@media only screen and (max-width: $breakpoint-smdesktop) {
    :root {
        --header-height: 10rem;
    }
}

@media only screen and (max-width: $breakpoint-tablet) {
    :root {
        --max-width: 800px;
        --nav-size: 64px;

        --pad-md: 40px;

        --soon-height: 40vw;

        /* category pages */
        --steps-border-radius: 4vw;
        --steps-pad-vrt: 7vw;
        --steps-pad-hrz: 6vw;
        --steps-item-gap: 3.5vw;
        --steps-h2-pad-top: -0.6vw;

        --recyclebin-pad-top: 4vw;
        --plasticbag-pad-top: 3vw;
    }
}

@media only screen and (max-width: $breakpoint-mobile) {
    :root {
        --border-main: solid 2px;
        --border-radius: 2vw;

        --pad-xl: 28vw;
        --pad-lg: 24vw;
        --pad-sm: 5vw;
        --pad-xs: 2vw;
        --pad-xxs: 1.5vw;

        --pad-main: 3vw;
        --pad-hrz: 5vw;
        --pad-cat: 0;

        --soon-height: 100vw;

        /* category pages */
        --steps-border-radius: 7vw;
        --steps-pad-vrt: 10vw;
        --steps-pad-hrz: 6vw;
        --steps-item-gap: var(--main-pad-hrz);
        --steps-h2-pad-top: -0.6vw;
        
        --recyclebin-pad-top: 5vw;
        --plasticbag-pad-top: 5vw;
    }
}