// Partial SCSS file containing global styling



// === USE ====================================
@use '../abstracts/' as a;



/* ============================================
   GLOBAL
   ============================================ */

// === BREAKPOIONTS ===========================
$breakpoint-tablet: 1200px;
$breakpoint-mobile: 600px;

body{
   /* transition during theme switch */
   transition: color var(--transition-100),
               background-color var(--transition-100),
               border-color var(--transition-100),
               fill var(--transition-100),
               stroke var(--transition-100);
}

/* logos */
.clr-800{
   fill: var(--clr-800);
}

.clr-800a{
   fill: var(--clr-800a);
}


/* illustrations */
.illu{
   &__stroke{
      fill: none;
      stroke: var(--clr-stroke);
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 1.25px;
   }
}

.carton{
   &-bg{
      fill: var(--clr-carton-100);
      stroke: var(--clr-carton-100);
   }

   &-h2{
      color: var(--clr-carton-900)
   }

   &-offwhite-3{
      fill: var(--clr-carton-offwhite-3);
   }

   &-offwhite-4{
      fill: var(--clr-carton-offwhite-4);
   }

   &-blue-1{
      fill: var(--clr-carton-blue-1);
   }

   &-blue-2{
      fill: var(--clr-carton-blue-2);
   }

   &-blue-3{
      fill: var(--clr-carton-blue-3);
   }

   &-blue-4{
      fill: var(--clr-carton-blue-4);
   }

   &-white-1{
      fill: var(--clr-carton-white-1);
   }

   &-white-2{
      fill: var(--clr-carton-white-2);
   }

   &-white-3{
      fill: var(--clr-carton-white-3);
   }
}

.cardboard{
   &-bg{
      fill: var(--clr-cardboard-100);
      stroke: var(--clr-cardboard-100);
   }

   &-h2{
      color: var(--clr-cardboard-900);
   }
}

.paper{
   &-bg{
      fill: var(--clr-paper-100);
      stroke: var(--clr-paper-100);
   }

   &-h2{
      color: var(--clr-paper-900);
   }
}

.can{
   &-bg{
      fill: var(--clr-metal-100);
      stroke: var(--clr-metal-100);
   }

   &-h2{
      color: var(--clr-metal-900);
   }

   &-silver-0{
      fill: var(--clr-can-silver-0);
   }

   &-silver-1{
      fill: var(--clr-can-silver-1);
   }

   &-silver-2{
      fill: var(--clr-can-silver-2);
   }

   &-silver-3{
      fill: var(--clr-can-silver-3);
   }

   &-silver-4{
      fill: var(--clr-can-silver-4);
   }

   &-silver-5{
      fill: var(--clr-can-silver-5);
   }

   &-orange-0{
      fill: var(--clr-can-orange-0);
   }

   &-orange-1{
      fill: var(--clr-can-orange-1);
   }

   &-orange-2{
      fill: var(--clr-can-orange-2);
   }

   &-orange-3{
      fill: var(--clr-can-orange-3);
   }
}

.aluminum{
   &-bg{
      fill: var(--clr-aluminum-100);
      stroke: var(--clr-aluminum-100);
   }

   &-h2{
      color: var(--clr-aluminum-900);
   }
}

.glass{
   &-bg{
      fill: var(--clr-glass-100);
      stroke: var(--clr-glass-100);
   }

   &-h2{
      color: var(--clr-glass-900);
   }
}

.plastic{
   &-bg{
      fill: var(--clr-plastic-100);
      stroke: var(--clr-plastic-100);
   }

   &-h2{
      color: var(--clr-plastic-900);
   }
}



/* ========================================
    BREAKPOINTS
    ======================================== */

@media only screen and (max-width: $breakpoint-tablet){
}

@media only screen and (max-width: $breakpoint-mobile){
}