// Partial SCSS file containing global styling



// === USE ====================================
@use '../abstracts/' as a;



/* ============================================
   GLOBAL
   ============================================ */

body{
   /* transition during theme switch */
   transition: color var(--transition-100),
               background-color var(--transition-100),
               border-color var(--transition-100),
               fill var(--transition-100),
               stroke var(--transition-100);
}

/* logos */
.clr-800{
   fill: var(--clr-800);
}

.clr-800a{
   fill: var(--clr-800a);
}


/* illustrations */
.illu{
   &__stroke{
      fill: none;
      stroke: var(--clr-stroke);
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 1.25px;
   }

   &__bg{
      stroke-miterlimit: 10;
      stroke-width: 2px;
   }
}

.carton{

   &-offwhite-3{
      fill: var(--clr-carton-offwhite-3);
   }

   &-offwhite-4{
      fill: var(--clr-carton-offwhite-4);
   }

   &-blue-1{
      fill: var(--clr-carton-blue-1);
   }

   &-blue-2{
      fill: var(--clr-carton-blue-2);
   }

   &-blue-3{
      fill: var(--clr-carton-blue-3);
   }

   &-blue-4{
      fill: var(--clr-carton-blue-4);
   }

   &-white-1{
      fill: var(--clr-carton-white-1);
   }

   &-white-2{
      fill: var(--clr-carton-white-2);
   }

   &-white-3{
      fill: var(--clr-carton-white-3);
   }

   &-bg{
      fill: var(--clr-carton-bg);
   }

   &-h2{
      color: var(--clr-carton-h2)
   }
}

.cardboard{
   &-bg{
      fill: var(--clr-cardboard-bg);
      stroke: var(--clr-cardboard-bg);
   }

   &-h2{
      color: var(--clr-cardboard-h2);
   }
}

.paper{
   &-bg{
      fill: var(--clr-paper-bg);
      stroke: var(--clr-paper-bg);
   }

   &-h2{
      color: var(--clr-paper-h2);
   }
}

.metal{
   &-bg{
      fill: var(--clr-metal-bg);
      stroke: var(--clr-metal-bg);
   }

   &-h2{
      color: var(--clr-metal-h2);
   }
}

.aluminum{
   &-bg{
      fill: var(--clr-aluminum-bg);
      stroke: var(--clr-aluminum-bg);
   }

   &-h2{
      color: var(--clr-aluminum-h2);
   }
}

.glass{
   &-bg{
      fill: var(--clr-glass-bg);
      stroke: var(--clr-glass-bg);
   }

   &-h2{
      color: var(--clr-glass-h2);
   }
}

.plastic{
   &-bg{
      fill: var(--clr-plastic-bg);
      stroke: var(--clr-plastic-bg);
   }

   &-h2{
      color: var(--clr-plastic-h2);
   }
}



/* ========================================
    BREAKPOINTS
    ======================================== */

@media only screen and (max-width: 1200px){
}

@media only screen and (max-width: 600px){
}