// Partial SCSS file containing :root styling



// === USE ====================================
@use '../abstracts' as a;


/* ============================================
   ROOT
   ============================================ */

:root {
    /* ========================================
       VARIABLES
       ======================================== */

    --border-main: 0 0 0 1px var(--clr-border);

    --tooltip-pad-vrt: 0.2rem;
    --tooltip-pad-hrz: 0.65rem;

    --transition-50: 50ms ease;
    --transition-100: 100ms ease;

    /* === COLORS ============================= */

    /* light theme (default) */
    // parse $colors into CSS variables
    @each $name, $value in a.$light {
        --clr-#{$name}: #{$value};
    }
}

/* dark theme */
[data-theme="dark"] {
    // parse $colors into CSS variables
    @each $name, $value in a.$dark {
        --clr-#{$name}: #{$value};
    }
}

/* high contrast theme */
[data-theme="hc"] {
    // parse $colors into CSS variables
    @each $name, $value in a.$hc {
        --clr-#{$name}: #{$value};
    }
}