// Partial SCSS file containing :root styling



// === USE ====================================
@use '../abstracts' as a;


/* ============================================
   ROOT
   ============================================ */

:root {
    /* ========================================
       VARIABLES
       ======================================== */

    --border-main: 0 0 0 1px var(--clr-border);

    --main-max-width: 2200px;
    --main-pad-vrt: min(5vw, calc(var(--main-max-width) * 0.05));
    --main-pad-hrz: min(5vw, calc(var(--main-max-width) * 0.05));
    --main-pad-lg: min(10vw, calc(var(--main-max-width) * 0.1));
    --tooltip-pad-vrt: 0.2rem;
    --tooltip-pad-hrz: 0.65rem;

    --transition-50: 50ms ease;
    --transition-100: 100ms ease;

    /* === COLORS ============================= */

    /* light theme (default) */
    // parse $colors into CSS variables
    @each $name, $value in a.$light {
        --clr-#{$name}: #{$value};
    }
}

/* dark theme */
[data-theme="dark"] {
    // parse $colors into CSS variables
    @each $name, $value in a.$dark {
        --clr-#{$name}: #{$value};
    }
}

/* high contrast theme */
[data-theme="hc"] {
    // parse $colors into CSS variables
    @each $name, $value in a.$hc {
        --clr-#{$name}: #{$value};
    }
}


/* ========================================
    BREAKPOINTS
    ======================================== */

@media only screen and (max-width: 1200px){
    :root{
        --main-pad-vrt: 7vw;
        --main-pad-lg: 13vw;
    }
}

@media only screen and (max-width: 600px){
    :root{
        --main-pad-vrt: 17vw;
        --main-pad-lg: 23vw;
    }
}