// Partial SCSS file containing typography styling



// === USE ====================================
@use '../abstracts' as a;
@use 'global' as g;



/* ============================================
   TYPOGRAPHY
   ============================================ */

body {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--clr-900);
}

h1{
    font-family: 'Doughy', sans-serif;
    font-size: 7rem;
    color: var(--clr-800);

    &.hero{
        font-size: min(8vw, calc(var(--main-max-width) * 0.08));
        letter-spacing: 0.01em;
        line-height: 0.95em;
    }
}

h2{
    font-family: 'Doughy', sans-serif;
    font-size: min(4vw, calc(var(--main-max-width) * 0.04));
    color: var(--clr-800);
}

:root{
    --fs-9: 0.9rem;
    --fs-10: 1rem;
}

/* button */
.button{
    &--lg{
        font-family: 'Doughy', sans-serif;
        font-size: min(2.8vw, calc(var(--main-max-width) * 0.028));
        line-height: 1.3em;
    }
}

/* footer */
.footer{
    &__suggestions{
        font-family: 'Doughy', sans-serif;
        font-size: min(4vw, calc(var(--main-max-width) * 0.04));
        line-height: 1em;
    }

    &__credits, &__version{
        font-size: 1.15rem;
        line-height: 1.3em;
    }

    &__title{
        font-family: 'Lexend Deca', sans-serif;
        font-size: 1.5rem;
        color: var(--clr-900);
    }
}


/* ========================================
    BREAKPOINTS
    ======================================== */

@media only screen and (max-width: g.$breakpoint-tablet){
    h1{
        &.hero{
            font-size: 10vw;
        }
    }

    /* button */
    .button{
        &--lg{
            font-size: 4vw;
        }
    }

    /* footer */
    .footer{
        &__suggestions{
            font-size: 6.8vw;
        }

        &__credits, &__version{
            font-size: 1.1rem;
        }
    }
}

@media only screen and (max-width: g.$breakpoint-mobile){
    h1{
        &.hero{
            font-size: 14vw;
            line-height: 1em;
        }
    }


    /* button */
    .button{
        &--lg{
            font-size: 7vw;
        }
    }


    /* footer */
    .footer{
        &__suggestions{
            font-size: 9.5vw;
        }

        &__credits, &__version{
            font-size: 1.1rem;
        }
    }
}