// Partial SCSS file containing typography styling



// === USE ====================================
@use '../abstracts' as a;



/* ============================================
   TYPOGRAPHY
   ============================================ */

body, button {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--clr-900);
}

h1{
    font-family: 'Doughy', sans-serif;
    font-size: 7rem;
    color: var(--clr-800);

    &.hero{
        font-size: min(8vw, calc(var(--main-max-width) * 0.08));
        letter-spacing: 0.01em;
        line-height: 0.95em;
    }
}

h2{
    font-family: 'Doughy', sans-serif;
    font-size: 5rem;
    color: var(--clr-800);
}

:root{
    --fs-9: 0.9rem;
    --fs-10: 1rem;
}

/* footer */
.footer{
    &__suggestions{
        font-family: 'Doughy', sans-serif;
        font-size: min(4vw, calc(var(--main-max-width) * 0.04));
        line-height: 1em;
    }

    &__credits, &__nav a, &__otherlinks a, &__version{
        font-size: 1.15rem;
        line-height: 1.3em;
    }
}


/* ========================================
    BREAKPOINTS
    ======================================== */

@media only screen and (max-width: 1200px){
    h1{
        &.hero{
            font-size: 10vw;
        }
    }

    /* footer */
    .footer{
        &__suggestions{
            font-size: 5vw;
        }

        &__credits, &__nav a, &__otherlinks a, &__version{
            font-size: 1rem;
        }
    }
}

@media only screen and (max-width: 600px){
    h1{
        &.hero{
            font-size: 14vw;
            line-height: 1em;
        }
    }

    /* footer */
    .footer{
        &__suggestions{
            font-size: 9vw;
        }

        &__credits, &__nav a, &__otherlinks a, &__version{
            font-size: 1.2rem;
        }
    }
}