// Partial SCSS file containing typography styling



// === USE ====================================
@use '../abstracts' as a;
@use 'global' as g;



/* ============================================
   TYPOGRAPHY
   ============================================ */

body {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--clr-900);
}

h1{
    font-family: 'Doughy', sans-serif;
    font-size: min(6vw, calc(var(--main-max-width) * 0.06));
    color: var(--clr-800);
}

h2{
    font-family: 'Doughy', sans-serif;
    font-size: min(4vw, calc(var(--main-max-width) * 0.04));
    color: var(--clr-800);
}

.text{
    &--xl{
        font-size: min(8vw, calc(var(--main-max-width) * 0.08));
        letter-spacing: 0.01em;
        line-height: 0.95em;
    }

    &--lg{
        font-family: 'Doughy', sans-serif;
        font-size: min(4vw, calc(var(--main-max-width) * 0.04));
        line-height: 1em;
    }

    &--md{
        font-family: 'Lexend Deca', sans-serif;
        font-size: min(2.2vw, calc(var(--main-max-width) * 0.022));
        font-weight: 600;
        line-height: 1.3em;
    }

    &--sm{
        font-family: 'Lexend Deca', sans-serif;
        font-size: min(1.5vw, calc(var(--main-max-width) * 0.015));
        font-weight: 700;
        color: var(--clr-900);
    }

    &--xs{
        font-size: 1.15rem;
        line-height: 1.3em;
    }

    &--xl a, &--lg a, &--md a{
        text-decoration: underline;
    }

    &--link{
        text-decoration: underline;
     
        &:focus-visible{
           text-decoration-color: var(--clr-border);
        }
    }

    &--p{
        font-family: 'Lexend Deca', sans-serif;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.7em;
        color: var(--clr-900);
    }
}

:root{
    --fs-9: 0.9rem;
    --fs-10: 1rem;
}

/* button */
.button{
    &--topbar {
        font-family: 'Doughy', sans-serif;
        font-size: 2rem;
        line-height: 1em;
    }

    &--lg{
        font-family: 'Doughy', sans-serif;
        font-size: min(2.8vw, calc(var(--main-max-width) * 0.028));
        line-height: 1.3em;
    }
}



/* ========================================
    BREAKPOINTS
    ======================================== */

@media only screen and (max-width: g.$breakpoint-tablet){
    .text{
        &--xl{
            font-size: 8.5vw;
        }

        &--lg{
            font-size: 6vw;
        }

        &--md{
            font-size: 2.7vw;
        }

        &--sm{
            font-size: 2.3vw;
        }

        &--xs{
            font-size: 1.1rem;
        }

        &-p{
            font-size: 1.2rem;
        }
    }

    /* button */
    .button{
        &--lg{
            font-size: 3.5vw;
        }
    }
}

@media only screen and (max-width: g.$breakpoint-mobile){
    .text{
        &--xl{
            font-size: 12vw;
            line-height: 1em;
        }

        &--lg{
            font-size: 9vw;
        }

        &--md{
            font-size: 6vw;
        }

        &--sm{
            font-size: 4.3vw;
        }

        &--xs{
            font-size: 1.1rem;
        }

        &-p{
            font-size: 1.2rem;
        }
    }


    /* button */
    .button{
        &--lg{
            font-size: 7vw;
        }
    }
}