/* ============================================
   GOOGLE FONT IMPORTS
   ============================================ */
/* Lexend Deca */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* ============================================
   WEB FONTS
   ============================================ */
@font-face {
  /* Doughy */
  font-family: "Doughy";
  src: local("Doughy"), url(../../assets/typefaces/Doughy-Regular.woff2) format("woff");
}
/* ============================================
   GLOBAL
   ============================================ */
body {
  /* transition during theme switch */
  transition: color var(--transition-100), background-color var(--transition-100), border-color var(--transition-100), fill var(--transition-100), stroke var(--transition-100);
}

/* main */
main {
  max-width: 2200px;
  padding: var(--main-pad-vrt) var(--main-pad-hrz);
  margin: auto;
}

.text--sm a:hover, .text--sm a:focus, .text--xs a:hover, .text--xs a:focus {
  color: var(--clr-1000);
  background-color: var(--clr-100);
}

/* logos */
.clr-800 {
  fill: var(--clr-800);
}

.clr-800a {
  fill: var(--clr-800a);
}

/* illustrations */
.illu__stroke {
  fill: none;
  stroke: var(--clr-stroke);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.25px;
}

.carton-bg {
  fill: var(--clr-carton-100);
  stroke: var(--clr-carton-100);
}
.carton-h2 {
  color: var(--clr-carton-1000);
}
.carton-offwhite-1 {
  fill: var(--clr-carton-offwhite-1);
}
.carton-offwhite-2 {
  fill: var(--clr-carton-offwhite-2);
}
.carton-offwhite-3 {
  fill: var(--clr-carton-offwhite-3);
}
.carton-offwhite-4 {
  fill: var(--clr-carton-offwhite-4);
}
.carton-blue-1 {
  fill: var(--clr-carton-blue-1);
}
.carton-blue-2 {
  fill: var(--clr-carton-blue-2);
}
.carton-blue-3 {
  fill: var(--clr-carton-blue-3);
}
.carton-blue-4 {
  fill: var(--clr-carton-blue-4);
}
.carton-blue-5 {
  fill: var(--clr-carton-blue-5);
}
.carton-white-1 {
  fill: var(--clr-carton-white-1);
}
.carton-white-2 {
  fill: var(--clr-carton-white-2);
}
.carton-white-3 {
  fill: var(--clr-carton-white-3);
}
.carton-white-4 {
  fill: var(--clr-carton-white-4);
}
.carton-white-5 {
  fill: var(--clr-carton-white-5);
}
.carton-1000 {
  fill: var(--clr-carton-1000);
}

.cardboard-bg {
  fill: var(--clr-cardboard-100);
  stroke: var(--clr-cardboard-100);
}
.cardboard-h2 {
  color: var(--clr-cardboard-1000);
}
.cardboard-brown-1 {
  fill: var(--clr-cardboard-brown-1);
}
.cardboard-brown-2 {
  fill: var(--clr-cardboard-brown-2);
}
.cardboard-brown-3 {
  fill: var(--clr-cardboard-brown-3);
}
.cardboard-brown-4 {
  fill: var(--clr-cardboard-brown-4);
}
.cardboard-brown-5 {
  fill: var(--clr-cardboard-brown-5);
}
.cardboard-red-2 {
  fill: var(--clr-cardboard-red-2);
}

.paper-bg {
  fill: var(--clr-paper-100);
  stroke: var(--clr-paper-100);
}
.paper-h2 {
  color: var(--clr-paper-1000);
}
.paper-white-0 {
  fill: var(--clr-paper-white-0);
}
.paper-white-1 {
  fill: var(--clr-paper-white-1);
}
.paper-white-2 {
  fill: var(--clr-paper-white-2);
}
.paper-white-3 {
  fill: var(--clr-paper-white-3);
}
.paper-white-4 {
  fill: var(--clr-paper-white-4);
}

.metal-bg {
  fill: var(--clr-metal-100);
  stroke: var(--clr-metal-100);
}
.metal-h2 {
  color: var(--clr-metal-1000);
}

.can-silver-0 {
  fill: var(--clr-can-silver-0);
}
.can-silver-1 {
  fill: var(--clr-can-silver-1);
}
.can-silver-2 {
  fill: var(--clr-can-silver-2);
}
.can-silver-3 {
  fill: var(--clr-can-silver-3);
}
.can-silver-4 {
  fill: var(--clr-can-silver-4);
}
.can-silver-5 {
  fill: var(--clr-can-silver-5);
}
.can-orange-0 {
  fill: var(--clr-can-orange-0);
}
.can-orange-1 {
  fill: var(--clr-can-orange-1);
}
.can-orange-2 {
  fill: var(--clr-can-orange-2);
}
.can-orange-3 {
  fill: var(--clr-can-orange-3);
}

.aluminum-bg {
  fill: var(--clr-aluminum-100);
  stroke: var(--clr-aluminum-100);
}
.aluminum-h2 {
  color: var(--clr-aluminum-1000);
}

.glass-bg {
  fill: var(--clr-glass-100);
  stroke: var(--clr-glass-100);
}
.glass-h2 {
  color: var(--clr-glass-1000);
}

.plastic-bg {
  fill: var(--clr-plastic-100);
  stroke: var(--clr-plastic-100);
}
.plastic-h2 {
  color: var(--clr-plastic-1000);
}
.plastic-bottle-0 {
  fill: var(--clr-plastic-bottle-0);
}
.plastic-bottle-1-1 {
  fill: var(--clr-plastic-bottle-1-1);
}
.plastic-bottle-1-2 {
  fill: var(--clr-plastic-bottle-1-2);
}
.plastic-bottle-2 {
  fill: var(--clr-plastic-bottle-2);
}
.plastic-bottle-3-1 {
  fill: var(--clr-plastic-bottle-3-1);
}
.plastic-bottle-3-2 {
  fill: var(--clr-plastic-bottle-3-2);
}
.plastic-bottle-4-1 {
  fill: var(--clr-plastic-bottle-4-1);
}
.plastic-bottle-4-2 {
  fill: var(--clr-plastic-bottle-4-2);
}
.plastic-purple-1 {
  fill: var(--clr-plastic-purple-1);
}
.plastic-purple-2 {
  fill: var(--clr-plastic-purple-2);
}
.plastic-purple-3 {
  fill: var(--clr-plastic-purple-3);
}

.recycle-bin-0 {
  fill: var(--clr-recycle-bin-0);
}
.recycle-bin-1 {
  fill: var(--clr-recycle-bin-1);
}
.recycle-bin-2 {
  fill: var(--clr-recycle-bin-2);
}
.recycle-bin-3 {
  fill: var(--clr-recycle-bin-3);
}
.recycle-bin-4 {
  fill: var(--clr-recycle-bin-4);
}

.caution__item {
  background-color: var(--clr-caution-50) !important;
}
.caution__item h2, .caution__item p {
  color: var(--clr-caution-900) !important;
}

.plastic-bag-1 {
  fill: var(--clr-plastic-bag-1);
}
.plastic-bag-2 {
  fill: var(--clr-plastic-bag-2);
}
.plastic-bag-3 {
  fill: var(--clr-plastic-bag-3);
}
.plastic-bag-4 {
  fill: var(--clr-plastic-bag-4);
}

/* ========================================
    BREAKPOINTS
    ======================================== */
/* ============================================
   RESET
   ============================================ */
/* === ANDY BELL'S CSS RESET ================== */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html, html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* === SITY SPECIFIC RESETS ================== */
body, html {
  height: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
}

/* remove default focus ring */
*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

ol, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* ============================================
   ROOT
   ============================================ */
:root {
  /* ========================================
     VARIABLES
     ======================================== */
  --border-main: solid 2px;
  --border-main-ds: 0 0 0 1px var(--clr-stroke);
  --main-max-width: 2200px;
  --main-pad-vrt: min(7vw, calc(var(--main-max-width) * 0.07));
  --main-pad-hrz: min(5vw, calc(var(--main-max-width) * 0.05));
  --main-pad-xl: min(15vw, calc(var(--main-max-width) * 0.15));
  --main-pad-lg: min(10vw, calc(var(--main-max-width) * 0.1));
  --main-pad-md: min(6vw, calc(var(--main-max-width) * 0.06));
  --main-pad-sm: min(3vw, calc(var(--main-max-width) * 0.03));
  --main-pad-xs: min(2vw, calc(var(--main-max-width) * 0.02));
  --tooltip-pad-vrt: 0.2rem;
  --tooltip-pad-hrz: 0.65rem;
  --inline-link-border-radius: 0.3em;
  --transition-50: 50ms ease;
  --transition-100: 100ms ease;
  --transition-200: 200ms ease;
  /* category pages */
  --steps-border-radius: min(3vw, calc(var(--main-max-width) * 0.03));
  --steps-pad-vrt: min(5vw, calc(var(--main-max-width) * 0.05));
  --steps-pad-hrz: min(5vw, calc(var(--main-max-width) * 0.05));
  --steps-item-gap: min(3vw, calc(var(--main-max-width) * 0.03));
  --steps-h2-pad-top: max(calc(var(--main-max-width) * -0.006), -0.6vw);
  --recyclebin-pad-top: min(3vw, calc(var(--main-max-width) * 0.03));
  --plasticbag-pad-top: min(2vw, calc(var(--main-max-width) * 0.02));
  /* === COLORS ============================= */
  /* light theme (default) */
  --clr-1000: #272e00;
  --clr-900: #304a38;
  --clr-900a: #8c6836;
  --clr-800: #4a7055;
  --clr-800a: #d48d1c;
  --clr-100: #a2c9a9;
  --clr-50: #acd1b2;
  --clr-0: #c9debf;
  --clr-border: #272e00;
  --clr-stroke: #202220;
  --clr-carton-offwhite-1: #f7f5ed;
  --clr-carton-offwhite-2: #f0ead5;
  --clr-carton-offwhite-3: #e0ddca;
  --clr-carton-offwhite-4: #c5c9b5;
  --clr-carton-blue-1: #93ded7;
  --clr-carton-blue-2: #5db9cf;
  --clr-carton-blue-3: #5f95ba;
  --clr-carton-blue-4: #5f7fb3;
  --clr-carton-blue-5: #3f4b5e;
  --clr-carton-white-1: #f2f2f2;
  --clr-carton-white-2: #d6d6d6;
  --clr-carton-white-3: #b5b5b5;
  --clr-carton-white-4: #9c9c9c;
  --clr-carton-white-5: #8c8c8c;
  --clr-carton-1100: #162c33;
  --clr-carton-1000: #144352;
  --clr-carton-900: #144757;
  --clr-carton-800: #1e6980;
  --clr-carton-100: #8fc9c0;
  --clr-carton-50: #99d1c8;
  --clr-carton-0: #b2ded7;
  --clr-cardboard-brown-1: #debb8e;
  --clr-cardboard-brown-2: #c4a370;
  --clr-cardboard-brown-3: #a68c56;
  --clr-cardboard-brown-4: #8f7b43;
  --clr-cardboard-brown-5: #a67a4e;
  --clr-cardboard-red-2: #c23b29;
  --clr-cardboard-1100: #382a18;
  --clr-cardboard-1000: #543c1e;
  --clr-cardboard-900: #543c1e;
  --clr-cardboard-800: #6e4e27;
  --clr-cardboard-100: #d6bc9c;
  --clr-cardboard-50: #dec5a6;
  --clr-cardboard-0: #e3cfbd;
  --clr-paper-white-0: #f7f5e8;
  --clr-paper-white-1: #ebe9db;
  --clr-paper-white-2: #dfe0cf;
  --clr-paper-white-3: #c9ccb4;
  --clr-paper-white-4: #b1b8a2;
  --clr-paper-1100: #323323;
  --clr-paper-1000: #494a34;
  --clr-paper-900: #494a34;
  --clr-paper-800: #6f704e;
  --clr-paper-500: #9e8846;
  --clr-paper-100: #c8c9a1;
  --clr-paper-50: #d0d1ab;
  --clr-paper-0: #e2e3bc;
  --clr-can-silver-0: #edeadf;
  --clr-can-silver-1: #c7c9bc;
  --clr-can-silver-2: #b1b3a7;
  --clr-can-silver-3: #778278;
  --clr-can-silver-4: #40524c;
  --clr-can-silver-5: #d9cba7;
  --clr-can-orange-0: #ffd4c7;
  --clr-can-orange-1: #f0a68b;
  --clr-can-orange-2: #d99277;
  --clr-can-orange-3: #bf7b5e;
  --clr-metal-1100: #331e16;
  --clr-metal-1000: #593426;
  --clr-metal-900: #593426;
  --clr-metal-800: #70321a;
  --clr-metal-500: #a65c4a;
  --clr-metal-100: #e3baa5;
  --clr-metal-50: #e8c1ae;
  --clr-metal-0: #f5d2c4;
  --clr-aluminum-1000: #404f4f;
  --clr-aluminum-100: #b4cccb;
  --clr-glass-1100: #1a2e21;
  --clr-glass-1000: #36473d;
  --clr-glass-900: #36473d;
  --clr-glass-800: #305e42;
  --clr-glass-500: #469c6a;
  --clr-glass-100: #91c4a4;
  --clr-glass-50: #9bcfae;
  --clr-glass-0: #b6e3c6;
  --clr-plastic-bottle-0: #DCF7D7;
  --clr-plastic-bottle-1-1: #BDCAE6;
  --clr-plastic-bottle-1-2: #C7CCF0;
  --clr-plastic-bottle-2: #B5B5CF;
  --clr-plastic-bottle-3-1: #8F99B8;
  --clr-plastic-bottle-3-2: #8F90B8;
  --clr-plastic-bottle-4-1: #647896;
  --clr-plastic-bottle-4-2: #65669E;
  --clr-plastic-purple-1: #C0AFE0;
  --clr-plastic-purple-2: #A591C9;
  --clr-plastic-purple-3: #917DB5;
  --clr-plastic-1100: #2b233b;
  --clr-plastic-1000: #433b52;
  --clr-plastic-900: #433b52;
  --clr-plastic-800: #483863;
  --clr-plastic-500: #75619c;
  --clr-plastic-100: #bfafd9;
  --clr-plastic-50: #ccbde6;
  --clr-plastic-0: #ded3f2;
  --clr-recycle-bin-0: #86b2d4;
  --clr-recycle-bin-1: #5c89b5;
  --clr-recycle-bin-2: #385e8f;
  --clr-recycle-bin-3: #344c7d;
  --clr-recycle-bin-4: #2b4069;
  --clr-caution-1100: #332616;
  --clr-caution-900: #523614;
  --clr-caution-200: #d1aa95;
  --clr-caution-50: #e3beaa;
  --clr-plastic-bag-1: #e3c7a1;
  --clr-plastic-bag-2: #ccb084;
  --clr-plastic-bag-3: #ab955f;
  --clr-plastic-bag-4: #7a673a;
}

/* dark theme */
[data-theme=dark] {
  --clr-1000: #ffffff;
  --clr-900: #e7f5ef;
  --clr-900a: #ffca78;
  --clr-800: #ccded6;
  --clr-800a: #eda12b;
  --clr-100: #46665f;
  --clr-50: #435e58;
  --clr-0: #3f544f;
  --clr-border: #cfffe9;
  --clr-stroke: #202220;
  --clr-carton-offwhite-1: #d6d5cd;
  --clr-carton-offwhite-2: #ccc7b6;
  --clr-carton-offwhite-3: #b5b2a3;
  --clr-carton-offwhite-4: #9fa393;
  --clr-carton-blue-1: #7fbfba;
  --clr-carton-blue-2: #51a1b5;
  --clr-carton-blue-3: #5382a1;
  --clr-carton-blue-4: #536e9c;
  --clr-carton-blue-5: #2f3947;
  --clr-carton-white-1: #e0e0e0;
  --clr-carton-white-2: #c4c4c4;
  --clr-carton-white-3: #9e9e9e;
  --clr-carton-white-4: #8a8a8a;
  --clr-carton-white-5: #7d7d7d;
  --clr-carton-1100: #edfdff;
  --clr-carton-1000: #d6faff;
  --clr-carton-900: #d6faff;
  --clr-carton-800: #cee4e8;
  --clr-carton-100: #486e6a;
  --clr-carton-50: #456663;
  --clr-carton-0: #405453;
  --clr-cardboard-brown-1: #bda07a;
  --clr-cardboard-brown-2: #a3875c;
  --clr-cardboard-brown-3: #917a4b;
  --clr-cardboard-brown-4: #7d6b3a;
  --clr-cardboard-brown-5: #87633f;
  --clr-cardboard-red-2: #a63123;
  --clr-cardboard-1100: #fff6ed;
  --clr-cardboard-1000: #ffecd6;
  --clr-cardboard-900: #ffecd6;
  --clr-cardboard-800: #e8dccf;
  --clr-cardboard-100: #6e5d48;
  --clr-cardboard-50: #665745;
  --clr-cardboard-0: #544b40;
  --clr-paper-white-0: #d4d2c4;
  --clr-paper-white-1: #c2c1b5;
  --clr-paper-white-2: #b7b8a9;
  --clr-paper-white-3: #a5a894;
  --clr-paper-white-4: #959c89;
  --clr-paper-1100: #fffff2;
  --clr-paper-1000: #feffe0;
  --clr-paper-900: #ffffdb;
  --clr-paper-800: #e7e8ce;
  --clr-paper-500: #d6b85f;
  --clr-paper-100: #6d6e50;
  --clr-paper-50: #65664c;
  --clr-paper-0: #535440;
  --clr-can-silver-0: #d1cec5;
  --clr-can-silver-1: #adb0a3;
  --clr-can-silver-2: #98998f;
  --clr-can-silver-3: #6c756d;
  --clr-can-silver-4: #3a4a45;
  --clr-can-silver-5: #baae8f;
  --clr-can-orange-0: #e0b9af;
  --clr-can-orange-1: #d9957e;
  --clr-can-orange-2: #c9876e;
  --clr-can-orange-3: #b57459;
  --clr-metal-1100: #fffbfa;
  --clr-metal-1000: #ffede6;
  --clr-metal-900: #ffede6;
  --clr-metal-800: #e8d6ce;
  --clr-metal-500: #de795f;
  --clr-metal-100: #7b5951;
  --clr-metal-50: #73554e;
  --clr-metal-0: #5c4b46;
  --clr-aluminum-1000: #d6ffff;
  --clr-aluminum-100: #627575;
  --clr-glass-1100: #edfff5;
  --clr-glass-1000: #d6ffe7;
  --clr-glass-900: #d6ffe7;
  --clr-glass-800: #d0e8d9;
  --clr-glass-500: #60d692;
  --clr-glass-100: #4e6e5a;
  --clr-glass-50: #466351;
  --clr-glass-0: #41544a;
  --clr-plastic-bottle-0: #C2D4C7;
  --clr-plastic-bottle-1-1: #8A94AD;
  --clr-plastic-bottle-1-2: #8F95AD;
  --clr-plastic-bottle-2: #766F87;
  --clr-plastic-bottle-3-1: #57627D;
  --clr-plastic-bottle-3-2: #5D5E7D;
  --clr-plastic-bottle-4-1: #3B4A61;
  --clr-plastic-bottle-4-2: #45466E;
  --clr-plastic-purple-1: #B09FCC;
  --clr-plastic-purple-2: #9381B3;
  --clr-plastic-purple-3: #7C6B9C;
  --clr-plastic-1100: #f1ebff;
  --clr-plastic-1000: #E9DEFF;
  --clr-plastic-900: #e9deff;
  --clr-plastic-800: #d6cfe6;
  --clr-plastic-500: #a88fd6;
  --clr-plastic-100: #665f78;
  --clr-plastic-50: #5b5569;
  --clr-plastic-0: #514d5c;
  --clr-recycle-bin-0: #6d91ad;
  --clr-recycle-bin-1: #4a6d91;
  --clr-recycle-bin-2: #2d4c73;
  --clr-recycle-bin-3: #2a3e66;
  --clr-recycle-bin-4: #233557;
  --clr-caution-900: #ffedd6;
  --clr-caution-50: #6b5548;
  --clr-plastic-bag-1: #b39c7e;
  --clr-plastic-bag-2: #947f60;
  --clr-plastic-bag-3: #807047;
  --clr-plastic-bag-4: #5e502d;
}

/* high contrast theme */
[data-theme=hc] {
  --clr-1000: #000000;
  --clr-900: #1f452a;
  --clr-900a: #995d00;
  --clr-800: #255232;
  --clr-800a: #ab6800;
  --clr-100: #c2ddce;
  --clr-50: #dff2e6;
  --clr-0: #f7fff2;
  --clr-border: #000000;
  --clr-stroke: #000000;
  --clr-carton-offwhite-1: #ffffff;
  --clr-carton-offwhite-2: #fffbeb;
  --clr-carton-offwhite-3: #f0edd8;
  --clr-carton-offwhite-4: #c0c4b1;
  --clr-carton-blue-1: #FFFFFF;
  --clr-carton-blue-2: #7fdaf0;
  --clr-carton-blue-3: #6fadd9;
  --clr-carton-blue-4: #5a79a8;
  --clr-carton-blue-5: #222933;
  --clr-carton-white-1: #FFFFFF;
  --clr-carton-white-2: #e6e6e6;
  --clr-carton-white-3: #a6a6a6;
  --clr-carton-white-4: #808080;
  --clr-carton-white-5: #6b6b6b;
  --clr-carton-1100: #082129;
  --clr-carton-1000: #0f3845;
  --clr-carton-900: #173a45;
  --clr-carton-800: #254852;
  --clr-carton-100: #ade3db;
  --clr-carton-50: #c6f7f0;
  --clr-carton-0: #f2fffd;
  --clr-cardboard-brown-1: #fad29f;
  --clr-cardboard-brown-2: #dbb67d;
  --clr-cardboard-brown-3: #ab9059;
  --clr-cardboard-brown-4: #85713d;
  --clr-cardboard-brown-5: #ad7c47;
  --clr-cardboard-red-2: #d1412c;
  --clr-cardboard-1100: #291a08;
  --clr-cardboard-1000: #452d0f;
  --clr-cardboard-900: #453017;
  --clr-cardboard-800: #523c23;
  --clr-cardboard-100: #e3c9ad;
  --clr-cardboard-50: #f7e0c6;
  --clr-cardboard-0: #f2ece6;
  --clr-paper-white-0: #ffffff;
  --clr-paper-white-1: #faf8ea;
  --clr-paper-white-2: #e5e6d4;
  --clr-paper-white-3: #b6b8a2;
  --clr-paper-white-4: #929986;
  --clr-paper-1100: #282908;
  --clr-paper-1000: #383b0d;
  --clr-paper-900: #444517;
  --clr-paper-800: #515225;
  --clr-paper-500: #cc9900;
  --clr-paper-100: #e0e1b6;
  --clr-paper-50: #f4f5d0;
  --clr-paper-0: #fffff2;
  --clr-can-silver-0: #ffffff;
  --clr-can-silver-1: #d4d6c6;
  --clr-can-silver-2: #b5b8aa;
  --clr-can-silver-3: #778278;
  --clr-can-silver-4: #2c3834;
  --clr-can-silver-5: #e0d2ad;
  --clr-can-orange-0: #ffe6de;
  --clr-can-orange-1: #ffbca3;
  --clr-can-orange-2: #e69a7e;
  --clr-can-orange-3: #b57559;
  --clr-metal-1100: #2e1408;
  --clr-metal-1000: #451f10;
  --clr-metal-900: #572814;
  --clr-metal-800: #523326;
  --clr-metal-500: #cc2700;
  --clr-metal-100: #ebccbb;
  --clr-metal-50: #ffe5d6;
  --clr-metal-0: #fff8f5;
  --clr-aluminum-1000: #124545;
  --clr-aluminum-100: #d6f2f1;
  --clr-glass-1100: #062411;
  --clr-glass-1000: #104525;
  --clr-glass-900: #104525;
  --clr-glass-800: #224a30;
  --clr-glass-500: #00ab47;
  --clr-glass-100: #a8dbbc;
  --clr-glass-50: #ccf2db;
  --clr-glass-0: #f2fff7;
  --clr-plastic-bottle-0: #F7FFF5;
  --clr-plastic-bottle-1-1: #D6E3FF;
  --clr-plastic-bottle-1-2: #E3E6FF;
  --clr-plastic-bottle-2: #D2C7E0;
  --clr-plastic-bottle-3-1: #AAB2CF;
  --clr-plastic-bottle-3-2: #A5A6D4;
  --clr-plastic-bottle-4-1: #647896;
  --clr-plastic-bottle-4-2: #65669E;
  --clr-plastic-purple-1: #E9DEFF;
  --clr-plastic-purple-2: #B7A3E0;
  --clr-plastic-purple-3: #8D7AB0;
  --clr-plastic-1100: #0f0621;
  --clr-plastic-1000: #220f45;
  --clr-plastic-900: #2a1459;
  --clr-plastic-800: #3b2b61;
  --clr-plastic-500: #7e56cc;
  --clr-plastic-100: #d9cbe8;
  --clr-plastic-50: #eae3f2;
  --clr-plastic-0: #fbf7ff;
  --clr-recycle-bin-0: #bde2ff;
  --clr-recycle-bin-1: #6da2d6;
  --clr-recycle-bin-2: #406ba3;
  --clr-recycle-bin-3: #334a7a;
  --clr-recycle-bin-4: #25385c;
  --clr-caution-900: #453017;
  --clr-caution-50: #ffdfcc;
  --clr-plastic-bag-1: #ffe5c2;
  --clr-plastic-bag-2: #e3c393;
  --clr-plastic-bag-3: #b09961;
  --clr-plastic-bag-4: #6e5d34;
}

/* ========================================
    BREAKPOINTS
    ======================================== */
@media only screen and (max-width: 1200px) {
  :root {
    --border-main: solid 1.5px;
    --main-pad-vrt: 7vw;
    --main-pad-xl: 20vw;
    --main-pad-lg: 12vw;
    --main-pad-md: 10vw;
    --main-pad-sm: 5vw;
    --main-pad-xs: 3vw;
    /* category pages */
    --steps-border-radius: 4vw;
    --steps-pad-vrt: 7vw;
    --steps-pad-hrz: 6vw;
    --steps-item-gap: 3.5vw;
    --steps-h2-pad-top: -0.6vw;
    --recyclebin-pad-top: 4vw;
    --plasticbag-pad-top: 3vw;
  }
}
@media only screen and (max-width: 600px) {
  :root {
    --border-main: solid 2px;
    --main-pad-vrt: 17vw;
    --main-pad-xl: 30vw;
    --main-pad-lg: 23vw;
    --main-pad-md: 13vw;
    --main-pad-sm: 10vw;
    --main-pad-xs: 5vw;
    /* category pages */
    --steps-border-radius: 7vw;
    --steps-pad-vrt: 10vw;
    --steps-pad-hrz: 6vw;
    --steps-item-gap: var(--main-pad-hrz);
    --steps-h2-pad-top: -0.6vw;
    --recyclebin-pad-top: 5vw;
    --plasticbag-pad-top: 5vw;
  }
}
/* ============================================
   TYPOGRAPHY
   ============================================ */
body {
  font-family: "Lexend Deca", sans-serif;
  color: var(--clr-900);
}

h1 {
  font-family: "Doughy", sans-serif;
  font-size: min(6vw, calc(var(--main-max-width) * 0.06));
  color: var(--clr-800);
}

h2 {
  font-family: "Doughy", sans-serif;
  font-size: min(4vw, calc(var(--main-max-width) * 0.04));
  color: var(--clr-800);
}

.text--xl {
  font-size: min(8vw, calc(var(--main-max-width) * 0.08));
  letter-spacing: 0.01em;
  line-height: 0.95em;
}
.text--lg {
  font-family: "Doughy", sans-serif;
  font-size: min(4vw, calc(var(--main-max-width) * 0.04));
  line-height: 1em;
}
.text--md {
  font-family: "Lexend Deca", sans-serif;
  font-size: min(2.2vw, calc(var(--main-max-width) * 0.022));
  font-weight: 600;
  line-height: 1.3em;
}
.text--sm {
  font-family: "Lexend Deca", sans-serif;
  font-size: min(1.5vw, calc(var(--main-max-width) * 0.015));
  font-weight: 700;
  color: var(--clr-900);
}
.text--xs {
  font-size: 1.15rem;
  line-height: 1.3em;
}
.text--xl a, .text--lg a, .text--md a {
  text-decoration: underline;
}
.text--link, .text--md a, .text--sm a, .text--xs a {
  border-radius: var(--inline-link-border-radius);
  text-decoration: underline;
  transition: color var(--transition-100), background-color var(--transition-100);
}
.text--p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.7em;
  color: var(--clr-900);
}

:root {
  --fs-9: 0.9rem;
  --fs-10: 1rem;
}

/* button */
.button--topbar {
  font-family: "Doughy", sans-serif;
  font-size: 2rem;
  line-height: 1em;
}
.button--lg {
  font-family: "Doughy", sans-serif;
  font-size: min(2.8vw, calc(var(--main-max-width) * 0.028));
  line-height: 1.3em;
}

/* ========================================
    BREAKPOINTS
    ======================================== */
@media only screen and (max-width: 1200px) {
  .text--xl {
    font-size: 8.5vw;
  }
  .text--lg {
    font-size: 6vw;
  }
  .text--md {
    font-size: 2.7vw;
  }
  .text--sm {
    font-size: 2.3vw;
  }
  .text--xs {
    font-size: 1.1rem;
  }
  .text-p {
    font-size: 1.2rem;
  }

  /* button */
  .button--lg {
    font-size: 3.5vw;
  }
}
@media only screen and (max-width: 600px) {
  .text--xl {
    font-size: 12vw;
    line-height: 1em;
  }
  .text--lg {
    font-size: 9vw;
  }
  .text--md {
    font-size: 6vw;
  }
  .text--sm {
    font-size: 4.3vw;
  }
  .text--xs {
    font-size: 1.1rem;
  }
  .text-p {
    font-size: 1.2rem;
  }

  /* button */
  .button--lg {
    font-size: 7vw;
  }
}
/* ============================================
   BUTTON
   ============================================ */
/* === VARIABLES ============================== */
.button--topbar {
  /* variables */
  --button-topbar-pad-vrt: 0.5rem;
  --button-topbar-pad-hrz: 0.8477rem;
}
.button--lg {
  /* variables */
  --button-lg-pad-vrt: min(0.3vw, calc(var(--main-max-width) * 0.003));
  --button-lg-pad-hrz: min(2vw, calc(var(--main-max-width) * 0.02));
}

@media only screen and (max-width: 1200px) {
  .button--topbar {
    /* variables */
  }
  .button--lg {
    /* variables */
    --button-lg-pad-vrt: 0.45vw;
    --button-lg-pad-hrz: 2.8vw;
  }
}
@media only screen and (max-width: 600px) {
  .button--topbar {
    /* variables */
  }
  .button--lg {
    /* variables */
    --button-lg-pad-vrt: 1.1vw;
    --button-lg-pad-hrz: 6vw;
  }
}
/* === ACTUAL CODE ============================ */
.button--topbar {
  box-sizing: border-box;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: var(--button-topbar-pad-vrt) var(--button-topbar-pad-hrz) calc(var(--button-topbar-pad-vrt) * 1.5) var(--button-topbar-pad-hrz);
  border: var(--border-main);
  border-radius: 20vw;
  transition: color var(--transition-100), background-color var(--transition-100), border-color var(--transition-100);
}
.button--lg {
  box-sizing: border-box;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: var(--button-lg-pad-vrt) var(--button-lg-pad-hrz) calc(var(--button-lg-pad-vrt) * 1.5) var(--button-lg-pad-hrz);
  border: var(--border-main);
  border-radius: calc(var(--button-lg-pad-hrz) * 1.5);
  transition: color var(--transition-100), background-color var(--transition-100), border-color var(--transition-100);
}

/* ============================================
   CATEGORY PAGES
   ============================================ */
/* === TOP BAR ================================ */
.topbar {
  /* back button */
}
.topbar__back {
  /* tooltip */
}
.topbar__back::after {
  content: attr(aria-label);
  top: calc(100% - var(--topbar-pad-vrt) - var(--topbar-item-pad) + var(--themepicker-tooltip-pad-top));
  left: var(--main-pad-hrz);
  transform-origin: top right;
}
.topbar__back:hover::after, .topbar__back:focus-visible::after {
  transform: scale(1);
  transition: transform var(--transition-100);
}

/* === MAIN =================================== */
.text--lg {
  padding-bottom: var(--main-pad-sm);
}

.title {
  padding-bottom: var(--main-pad-sm);
}

.quicklink {
  padding-bottom: var(--main-pad-lg);
  /* flexbox */
  display: flex;
  flex-flow: row nowrap;
}
.quicklink__item {
  padding-right: var(--footer-link-pad-right);
}
.quicklink__item:last-child {
  padding-right: 0;
}

.steps {
  padding-top: var(--steps-item-gap);
}
.steps__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: var(--steps-pad-vrt) var(--steps-pad-hrz);
  margin-bottom: var(--steps-item-gap);
  border-radius: var(--steps-border-radius);
}
.steps__item__main {
  display: flex;
  flex-flow: column nowrap;
}
.steps__item__main h2 {
  line-height: 1;
  margin-top: var(--steps-h2-pad-top);
}
.steps__item__main p {
  margin-top: auto;
}
.steps__item__illu {
  /* flexbox */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
}

.caution__item .text--md a:hover {
  color: var(--clr-caution-1100);
  background-color: var(--clr-caution-200);
}
.caution__item .text--md a:focus {
  color: var(--clr-caution-1100);
  background-color: var(--clr-caution-200);
}

/* ========================================
    BREAKPOINTS
    ======================================== */
@media only screen and (max-width: 600px) {
  .quicklink {
    flex-flow: column nowrap;
    align-items: left;
  }
  .quicklink__item {
    padding-right: 0;
    padding-bottom: var(--footer-link-pad-bottom);
  }
  .quicklink__item:last-child {
    padding-bottom: 0;
  }

  .steps__item {
    grid-template-columns: 1fr;
  }
  .steps__item__main h2 {
    padding-bottom: var(--steps-pad-vrt);
  }
  .steps__item__main p {
    margin-top: 0;
    padding-bottom: var(--steps-pad-vrt);
  }
}
/* ============================================
   FOOTER
   ============================================ */
/* === VARIABLES ============================== */
body {
  --footer-pad-vrt: var(--main-pad-vrt);
  --footer-transition-height: var(--main-pad-hrz);
  --footer-container-grid: 60% 40%;
  --footer-suggestions-width: min(35vw, calc(var(--main-max-width) * 0.35));
  --footer-title-pad-bottom: min(1vw, calc(var(--main-max-width) * 0.01));
  --footer-link-pad-right: min(1.1vw, calc(var(--main-max-width) * 0.011));
  --footer-link-pad-bottom: min(1.3vw, calc(var(--main-max-width) * 0.013));
}

@media only screen and (max-width: 1200px) {
  body {
    /* varaibles */
    --footer-pad-vrt: 8vw;
    --footer-transition-height: 8vw;
    --footer-container-grid: 1fr;
    --footer-suggestions-width: 70vw;
    --footer-title-pad-bottom: 1.5vw;
    --footer-link-pad-right: 1.6vw;
    --footer-link-pad-bottom: 2vw;
  }
}
@media only screen and (max-width: 600px) {
  body {
    /* varaibles */
    --footer-pad-vrt: 15vw;
    --footer-transition-height: 17vw;
    --footer-container-grid: 1fr;
    --footer-suggestions-width: 100%;
    --footer-title-pad-bottom: 1.5vw;
    --footer-link-pad-right: 2.5vw;
    --footer-link-pad-bottom: 3vw;
  }
}
/* === ACTUAL CODE ============================ */
.footer__transition {
  height: var(--footer-transition-height);
  border-bottom-right-radius: var(--footer-transition-height);
  border-bottom-left-radius: var(--footer-transition-height);
}
.footer__container {
  max-width: var(--main-max-width);
  padding: var(--footer-pad-vrt) var(--main-pad-hrz);
  margin: auto;
  /* grid */
  display: grid;
  grid-template-columns: var(--footer-container-grid);
}
.footer__flexbox {
  display: flex;
  flex-flow: column nowrap;
}
.footer__suggestions {
  width: var(--footer-suggestions-width);
}
.footer__credits {
  padding-top: var(--footer-pad-vrt);
}
.footer__title {
  padding-top: calc(var(--footer-pad-vrt) - var(--footer-title-pad-bottom));
  padding-bottom: var(--footer-title-pad-bottom);
}
.footer__linklist {
  display: flex;
  flex-flow: row wrap;
}
.footer__linklist li {
  padding-right: var(--footer-link-pad-right);
  padding-bottom: var(--footer-link-pad-bottom);
}
.footer__link {
  transition: color var(--transition-200);
}
.footer__btp {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: calc(var(--footer-pad-vrt) - var(--footer-title-pad-bottom));
}
.footer__version {
  padding-top: calc(var(--footer-pad-vrt) / 2);
}

/* ============================================
   THEME PICKER
   ============================================ */
.themepicker__list {
  padding: var(--topbar-item-pad);
  border-radius: calc(var(--topbar-height) - (var(--topbar-pad-vrt) * 2));
  margin-left: auto;
  /* flexbox */
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}
.themepicker__item {
  margin-right: var(--topbar-item-pad);
}
.themepicker__item:last-child {
  margin-right: 0;
}
.themepicker__btn {
  display: block;
  position: relative;
  font-size: 0;
  padding: 0;
  /* tooltip */
}
.themepicker__btn::after {
  content: attr(aria-label);
  top: calc(100% + var(--themepicker-tooltip-pad-top));
  right: calc(-1 * var(--topbar-item-pad));
  transform-origin: top right;
}
.themepicker__btn:hover svg, .themepicker__btn:focus-visible svg {
  top: var(--themepicker-movement);
}
.themepicker__btn:hover::after, .themepicker__btn:focus-visible::after {
  transform: scale(1);
  transition: transform var(--transition-100);
}
.themepicker__btn svg {
  position: relative;
  top: 0;
  height: var(--topbar-item-height);
  border-radius: 50%;
  box-shadow: var(--border-main-ds);
  transition: top var(--transition-100);
}

/* ============================================
   TOOLTIP
   ============================================ */
.tooltip::after {
  font-family: "Lexend Deca", sans-serif;
  line-height: 1.5;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  font-size: var(--fs-9);
  padding: var(--tooltip-pad-vrt) var(--tooltip-pad-hrz);
  border-radius: calc(var(--tooltip-pad-vrt) + var(--fs-9));
  transform: scale(0);
  transition: transform var(--transition-50);
}

/* ============================================
   TOP BAR
   ============================================ */
/* === VARIABLES ============================== */
body {
  --topbar-pad-vrt: 1.5rem;
  --topbar-pad-hrz: 1.5rem;
  --topbar-height: calc(3.3rem + (var(--topbar-pad-vrt) * 2));
  --topbar-item-pad: 0.5rem;
  --topbar-item-height: calc(var(--topbar-height) - (var(--topbar-pad-vrt) * 2) - (var(--topbar-item-pad) * 2));
  --themepicker-movement: -0.3rem;
  --themepicker-tooltip-pad-top: 1rem;
}

@media only screen and (max-width: 1200px) {
  .body {
    /* variables */
    --topbar-pad-vrt: 1.5rem;
    --topbar-pad-hrz: 1.5rem;
    --topbar-item-pad: 0.5rem;
    --themepicker-movement: -0.3rem;
    --themepicker-tooltip-pad-top: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  body {
    /* variables */
    --topbar-pad-vrt: 1.5rem;
    --topbar-pad-hrz: 1.5rem;
    --topbar-item-pad: 0.5rem;
    --themepicker-movement: -0.3rem;
    --themepicker-tooltip-pad-top: 1rem;
  }
}
/* === ACTUAL CODE ============================ */
.topbar {
  position: relative;
  max-width: var(--main-max-width);
  height: var(--topbar-height);
  padding: var(--topbar-pad-vrt) var(--main-pad-hrz);
  margin: auto;
  /* flexbox */
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

/* === VARIABLES ============================== */
body {
  /* steps */
  --steps-1-pad-top: min(3vw, calc(var(--main-max-width) * 0.03));
}

@media only screen and (max-width: 1200px) {
  body {
    /* steps */
    --steps-1-pad-top: 4vw;
  }
}
@media only screen and (max-width: 600px) {
  body {
    /* steps */
    --steps-1-pad-top: 4vw;
  }
}
/* ============================================
   CARTONS PAGE
   ============================================ */
/* === WHOLE PAGE ============================= */
html, body {
  background-color: var(--clr-carton-0);
}

.text--xl, .text--lg, .text--md .text--sm {
  color: var(--clr-carton-800);
}
.text--xl a, .text--lg a {
  color: var(--clr-800a);
}

.tooltip::after {
  background-color: var(--clr-carton-50);
}

.button--topbar {
  color: var(--clr-carton-900);
  background-color: var(--clr-carton-50);
  border-color: var(--clr-carton-50);
}
.button--topbar:hover {
  color: var(--clr-carton-1100);
  background-color: var(--clr-carton-100);
  border-color: var(--clr-carton-100);
}
.button--topbar:focus-visible {
  color: var(--clr-carton-1100);
  border-color: var(--clr-border);
}
.button--lg {
  color: var(--clr-carton-900);
  background-color: var(--clr-carton-50);
  border-color: var(--clr-carton-50);
}
.button--lg:hover {
  color: var(--clr-carton-1100);
  background-color: var(--clr-carton-100);
  border-color: var(--clr-carton-100);
}
.button--lg:focus-visible {
  color: var(--clr-carton-1100);
  border-color: var(--clr-border);
}

/* === TOP BAR ================================ */
.topbar__back {
  /* tooltip */
}
.topbar__back::after {
  color: var(--clr-carton-900);
}

/* theme picker */
.themepicker__list {
  background-color: var(--clr-carton-50);
}
.themepicker__btn {
  /* tooltip */
}
.themepicker__btn::after {
  color: var(--clr-carton-900);
}
.themepicker__light--0 {
  fill: #b2ded7;
}
.themepicker__light--100 {
  fill: #8fc9c0;
}
.themepicker__light--800 {
  fill: #1e6980;
}
.themepicker__dark--0 {
  fill: #405453;
}
.themepicker__dark--100 {
  fill: #486e6a;
}
.themepicker__dark--800 {
  fill: #cee4e8;
}
.themepicker__hc--0 {
  fill: #f2fffd;
}
.themepicker__hc--100 {
  fill: #ade3db;
}
.themepicker__hc--800 {
  fill: #254852;
}

/* === MAIN =================================== */
.steps__item {
  background-color: var(--clr-carton-50);
}
.steps__item__main h2, .steps__item__main p {
  color: var(--clr-carton-900);
}

#step1__illu {
  width: min(25vw, calc(var(--main-max-width) * 0.25));
  padding-top: var(--steps-1-pad-top);
}

#step2__illu {
  width: min(17vw, calc(var(--main-max-width) * 0.17));
}

#recyclebin__illu {
  width: min(25vw, calc(var(--main-max-width) * 0.25));
  padding-top: var(--recyclebin-pad-top);
  margin-bottom: calc(-1 * var(--steps-pad-vrt));
}

#plasticbag__illu {
  width: min(25vw, calc(var(--main-max-width) * 0.25));
  padding-top: var(--plasticbag-pad-top);
  margin-bottom: calc(-1 * var(--steps-pad-vrt));
}

/* ========================================
    BREAKPOINTS
    ======================================== */
@media only screen and (max-width: 1200px) {
  #step1__illu {
    width: 28vw;
  }

  #step2__illu {
    width: 20vw;
  }

  #recyclebin__illu {
    width: 26vw;
  }

  #plasticbag__illu {
    width: 26vw;
  }
}
@media only screen and (max-width: 600px) {
  #step1__illu {
    width: 55vw;
    padding-bottom: 3vw;
  }

  #step2__illu {
    width: 40vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
  }

  #recyclebin__illu {
    width: 56vw;
  }

  #plasticbag__illu {
    width: 56vw;
  }
}/*# sourceMappingURL=cartons.css.map */