// SCSS file containing CSS styles for index.html



// === USE ====================================
@use "sass:map";
@use '../abstracts' as a;
@use '../base' as b;
@use '../components' as c;


/* === VARIABLES ============================== */
body{
   --topbar-pad-vrt: 1rem;
   --topbar-pad-hrz: 1.5rem;
   --topbar-height: calc(3.3rem + (var(--topbar-pad-vrt) * 2));
   --topbar-item-pad: 0.5rem;
   --topbar-item-height: calc(var(--topbar-height) - (var(--topbar-pad-vrt) * 2) - (var(--topbar-item-pad) * 2));
   --themepicker-movement: -0.3rem;
   --themepicker-tooltip-top: 1rem;
}



/* ============================================
   INDEX PAGE
   ============================================ */

/* === WHOLE PAGE ============================= */
html, body{
   background-color: var(--clr-0);
}

/* === TOP BAR ================================ */
.topbar{
   height: var(--topbar-height);
   padding: 1rem;
   /* flexbox */
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-end;
   align-items: stretch;
}


/* theme picker */
.themepicker{
   &__list{
      padding: var(--topbar-item-pad);
      border-radius: calc(var(--topbar-height) - (var(--topbar-pad-vrt) * 2));
      background-color: var(--clr-100);
      /* flexbox */
      display: flex;
      flex-flow: row nowrap;
      align-items: stretch;
   }

   &__item{
      margin-right: var(--topbar-item-pad);

      &:last-child{
         margin-right: 0;
      }
   }

   &__btn{
      display: block;
      position: relative;
      font-size: 0;
      padding: 0;

      /* tooltip */
      &::after{
         content: attr(aria-label);
         top: calc(100% + var(--themepicker-tooltip-top));
         right: calc(-1 * var(--topbar-item-pad));
         transform-origin: top right;
      }

      &:hover, &:focus-visible{
         svg {
            top: var(--themepicker-movement);
         }
      }

      &:hover::after, &:focus-visible::after {
         transform: scale(1);
         transition: transform var(--transition-100);
      }

      svg{
         position: relative;
         top: 0;
         height: var(--topbar-item-height);
         border-radius: 50%;
         /* border: var(--border-main); */
         box-shadow: var(--border-main);
         transition: top var(--transition-100);
      }
   }

   &__light{
      &--0{
         fill: map.get(a.$light, 0);
      }

      &--100{
         fill: map.get(a.$light, 100);
      }

      &--800{
         fill: map.get(a.$light, 800);
      }
   }

   &__dark{
      &--0{
         fill: map.get(a.$dark, 0);
      }

      &--100{
         fill: map.get(a.$dark, 100);
      }

      &--800{
         fill: map.get(a.$dark, 800);
      }
   }

   &__hc{
      &--0{
         fill: map.get(a.$hc, 0);
      }

      &--100{
         fill: map.get(a.$hc, 100);
      }

      &--800{
         fill: map.get(a.$hc, 800);
      }
   }
}


/* === MAIN =================================== */

main{
   padding: 6rem 10rem;
}

/* hero text */
.hero{
   letter-spacing: 0.01em;
   line-height: 0.95em;

   &__city{
      color: var(--clr-800a);
      text-decoration: underline;
   }
}
