// SCSS file containing CSS styles for index.html



// === USE ====================================
@use "sass:map";
@use '../abstracts' as a;
@use '../base' as b;
@use '../components' as c;


/* === VARIABLES ============================== */
body{
   --topbar-pad-vrt: 1.5rem;
   --topbar-pad-hrz: 1.5rem;
   --topbar-height: calc(3.3rem + (var(--topbar-pad-vrt) * 2));
   --topbar-item-pad: 0.5rem;
   --topbar-item-height: calc(var(--topbar-height) - (var(--topbar-pad-vrt) * 2) - (var(--topbar-item-pad) * 2));
   --themepicker-movement: -0.3rem;
   --themepicker-tooltip-top: 1rem;
}



/* ============================================
   INDEX PAGE
   ============================================ */

/* === WHOLE PAGE ============================= */
html, body{
   background-color: var(--clr-0);
}

/* === TOP BAR ================================ */
.topbar{
   max-width: var(--main-max-width);
   height: var(--topbar-height);
   padding: var(--topbar-pad-vrt) var(--main-pad-hrz);
   margin: auto;
   /* flexbox */
   display: flex;
   flex-flow: row nowrap;
   align-items: stretch;
}


/* logotype */
.logotype{
   /* flexbox */
   display: flex;
   align-items: center;
   width: 5.5rem;
}


/* theme picker */
.themepicker{
   &__list{
      padding: var(--topbar-item-pad);
      border-radius: calc(var(--topbar-height) - (var(--topbar-pad-vrt) * 2));
      background-color: var(--clr-100);
      margin-left: auto;
      /* flexbox */
      display: flex;
      flex-flow: row nowrap;
      align-items: stretch;
   }

   &__item{
      margin-right: var(--topbar-item-pad);

      &:last-child{
         margin-right: 0;
      }
   }

   &__btn{
      display: block;
      position: relative;
      font-size: 0;
      padding: 0;

      /* tooltip */
      &::after{
         content: attr(aria-label);
         top: calc(100% + var(--themepicker-tooltip-top));
         right: calc(-1 * var(--topbar-item-pad));
         transform-origin: top right;
      }

      &:hover, &:focus-visible{
         svg {
            top: var(--themepicker-movement);
         }
      }

      &:hover::after, &:focus-visible::after {
         transform: scale(1);
         transition: transform var(--transition-100);
      }

      svg{
         position: relative;
         top: 0;
         height: var(--topbar-item-height);
         border-radius: 50%;
         /* border: var(--border-main); */
         box-shadow: var(--border-main);
         transition: top var(--transition-100);
      }
   }

   &__light{
      &--0{
         fill: map.get(a.$light, 0);
      }

      &--100{
         fill: map.get(a.$light, 100);
      }

      &--800{
         fill: map.get(a.$light, 800);
      }
   }

   &__dark{
      &--0{
         fill: map.get(a.$dark, 0);
      }

      &--100{
         fill: map.get(a.$dark, 100);
      }

      &--800{
         fill: map.get(a.$dark, 800);
      }
   }

   &__hc{
      &--0{
         fill: map.get(a.$hc, 0);
      }

      &--100{
         fill: map.get(a.$hc, 100);
      }

      &--800{
         fill: map.get(a.$hc, 800);
      }
   }
}


/* === MAIN =================================== */

main{
   max-width: 2200px;
   padding: var(--main-pad-vrt) var(--main-pad-hrz);
   margin: auto;
}

/* hero text */
.hero{
   &__city{
      color: var(--clr-800a);
      text-decoration: underline;
   }
}

/* recycle categories */
.recycleCat{
   &__container{
      padding-top: var(--main-pad-lg);
      /* grid */
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: min(5vw, calc(var(--main-max-width) * 0.05));
   }

   &__item{
      position: relative;
   }

   &__link{
      display: block;
      z-index: 1000;
   }

   &__parallaxContainer{
      position: relative;
   }

   &__h2{
      font-size: min(4.5vw, calc(var(--main-max-width) * 0.045));
      display: block;
   }

   // &__item{
   //    width: 50vw;
   //    height: 50vw;
   //    display: flex;
   //    flex-flow: row nowrap;
   //    justify-content: center;
   //    align-items: center;
   //    background-color: var(--clr-100);
   //    clip-path: url(#testClip);
   //    transition: transform 1s;

   //    h2{
   //       transition: transform 1s;
   //    }

   //    &:hover{
   //       // clip-path: path("M375.41,96.93l44.69,10.24a37.57,37.57,0,0,1,24.61,54.58L422.78,202A37.57,37.57,0,0,0,424,240l24.36,38.84a37.57,37.57,0,0,1-21.19,56l-44,13a37.58,37.58,0,0,0-26,27.65L346.91,420.1a37.58,37.58,0,0,1-54.59,24.61l-40.27-21.93A37.57,37.57,0,0,0,214.13,424l-38.85,24.36a37.56,37.56,0,0,1-56-21.19l-13-44a37.57,37.57,0,0,0-27.64-26L34,346.91A37.57,37.57,0,0,1,9.37,292.32l21.92-40.27a37.55,37.55,0,0,0-1.17-37.92L5.76,175.28a37.56,37.56,0,0,1,21.2-56l44-13a37.57,37.57,0,0,0,26-27.64L107.17,34A37.56,37.56,0,0,1,161.75,9.37L202,31.29A37.55,37.55,0,0,0,240,30.12L278.79,5.76a37.57,37.57,0,0,1,56,21.2l13,44A37.58,37.58,0,0,0,375.41,96.93Z");
   //       transform: rotate(30deg);

   //       h2{
   //          transform: rotate(-30deg);
   //       }
   //    }
   // }

}

.carton{
   &-link{
      position: relative;
      top: 0;
   }

   &-illu{
      width: min(11.5vw, calc(var(--main-max-width) * 0.115));
      top: min(7vw, calc(var(--main-max-width) * 0.07)) !important;
      left: min(7vw, calc(var(--main-max-width) * 0.07)) !important;
   }

   &-h2{
      top: min(15vw, calc(var(--main-max-width) * 0.15)) !important;
      left: min(4vw, calc(var(--main-max-width) * 0.04)) !important;
   }
}

.cardboard{
   &-link{
      position: relative;
      top: max(calc(var(--main-max-width) * -0.02), -2vw);
   }

   &-h2{
      top: min(16vw, calc(var(--main-max-width) * 0.16)) !important;
      left: min(2vw, calc(var(--main-max-width) * 0.02)) !important;
   }
}

.paper{
   &-link{
      position: relative;
      top: max(calc(var(--main-max-width) * -0.08), -8vw);
   }

   &-h2{
      top: min(18vw, calc(var(--main-max-width) * 0.18)) !important;
      left: min(8vw, calc(var(--main-max-width) * 0.08)) !important;
   }
}

.metal{
   &-link{
      position: relative;
      top: 0;
   }

   &-h2{
      top: min(16vw, calc(var(--main-max-width) * 0.16)) !important;
      left: min(7vw, calc(var(--main-max-width) * 0.07)) !important;
   }
}

.aluminum{
   &-link{
      position: relative;
      top: max(calc(var(--main-max-width) * -0.03), -3vw);
   }

   &-h2{
      top: min(14vw, calc(var(--main-max-width) * 0.14)) !important;
      left: min(4vw, calc(var(--main-max-width) * 0.04)) !important;
   }
}

.glass{
   &-link{
      position: relative;
      top: max(calc(var(--main-max-width) * -0.06), -6vw);
   }

   &-h2{
      top: min(16vw, calc(var(--main-max-width) * 0.16)) !important;
      left: min(10vw, calc(var(--main-max-width) * 0.1)) !important;
   }
}

.plastic{
   &-link{
      position: relative;
      top: 0;
   }

   &-h2{
      top: min(15vw, calc(var(--main-max-width) * 0.15)) !important;
      left: min(5vw, calc(var(--main-max-width) * 0.05)) !important;
   }
}


/* ========================================
   BREAKPOINTS
   ======================================== */

@media only screen and (max-width: 1200px){
   .recycleCat{
      &__container{
         grid-template-columns: 1fr 1fr;
         gap: 8vw;
      }
   
      &__h2{
         font-size: 6.8vw;
      }
   }

   .carton{
      &-illu{
         width: 17.5vw;
         top: 10vw !important;
         left: 11vw !important;
      }
   
      &-h2{
         top: 22vw !important;
         left: 7vw !important;
      }
   }
   
   .cardboard{
      &-link{
         top: -2vw;
      }
      &-h2{
         top: 24vw !important;
         left: 3vw !important;
      }
   }
   
   .paper{
      &-link{
         top: 0;
      }
      &-h2{
         top: 26vw !important;
         left: 12vw !important;
      }
   }
   
   .metal{
      &-link{
         top: -2vw;
      }
      &-h2{
         top: 24vw !important;
         left: 10vw !important;
      }
   }

   .aluminum{
      &-link{
         top: 0;
      }
      &-h2{
         top: 21vw !important;
         left: 6vw !important;
      }
   }

   .glass{
      &-link{
         top: -5vw;
      }
      &-h2{
         top: 24vw !important;
         left: 15vw !important;
      }
   }

   .plastic{
      &-link{
         top: 0;
      }
      &-h2{
         top: 21vw !important;
         left: 8vw !important;
      }
   }
}

@media only screen and (max-width: 600px){
   .recycleCat{
      &__container{
         grid-template-columns: 1fr;
         gap: 20vw;
         margin: 0 calc(-1 * var(--main-pad-hrz));
         overflow: hidden;
      }
   
      &__h2{
         font-size: 16vw;
      }
   }

   .carton{
      &-link{
         left: -10vw;
      }

      &-illu{
         width: 42vw;
         top: 25vw !important;
         left: 27vw !important;
      }
   
      &-h2{
         top: 56vw !important;
         left: 18vw !important;
      }
   }
   
   .cardboard{
      &-link{
         top: 0;
         right: -10vw;
      }
      &-h2{
         top: 60vw !important;
         left: 7vw !important;
      }
   }
   
   .paper{
      &-link{
         top: -7vw;
         left: -12vw;
      }
      &-h2{
         top: 65vw !important;
         left: 30vw !important;
      }
   }
   
   .metal{
      &-link{
         top: -10vw;
         left: 10vw;
      }
      &-h2{
         top: 57vw !important;
         left: 23vw !important;
      }
   }

   .aluminum{
      &-link{
         top: -12vw;
         left: -10vw;
      }
      &-h2{
         top: 50vw !important;
         left: 15vw !important;
      }
   }

   .glass{
      &-link{
         top: -10vw;
         left: 6vw;
      }
      &-h2{
         top: 60vw !important;
         left: 35vw !important;
      }
   }

   .plastic{
      &-link{
         top: -10vw;
         left: -10vw;
      }
      &-h2{
         top: 55vw !important;
         left: 15vw !important;
      }
   }
}