// Partial SCSS file containing button styling



// === USE ====================================
@use '../base' as b;



/* ============================================
   BUTTON
   ============================================ */

/* === VARIABLES ============================== */
.button{
    &--topbar{
        /* variables */
        --button-topbar-pad-vrt: 0.6rem;
        --button-topbar-pad-hrz: 0.94rem;
    }
    &--lg{
        /* variables */
        --button-lg-pad-vrt: min(0.3vw, calc(var(--main-max-width) * 0.003));
        --button-lg-pad-hrz: min(2vw, calc(var(--main-max-width) * 0.02));
    }
}

@media only screen and (max-width: b.$breakpoint-tablet){
    .button{
        &--topbar{
            /* variables */
        }

        &--lg{
            /* variables */
            --button-lg-pad-vrt: 0.45vw;
            --button-lg-pad-hrz: 2.8vw;
        }
    }
}

@media only screen and (max-width: b.$breakpoint-mobile){
    .button{
        &--topbar{
            /* variables */
        }
        &--lg{
            /* variables */
            --button-lg-pad-vrt: 1.1vw;
            --button-lg-pad-hrz: 6vw;
        }
    }
}


/* === ACTUAL CODE ============================ */
.button {
    &--topbar{
        box-sizing: border-box;
        display: block;
        width: max-content;
        padding: var(--button-topbar-pad-vrt) var(--button-topbar-pad-hrz) calc(var(--button-topbar-pad-vrt) * 1.5) var(--button-topbar-pad-hrz);
        border: var(--border-main);
        border-radius: 20vw;
        transition: color var(--transition-100),
                    background-color var(--transition-100),
                    border-color var(--transition-100);
    }

    &--lg{
        box-sizing: border-box;
        display: block;
        width: max-content;
        padding: var(--button-lg-pad-vrt) var(--button-lg-pad-hrz) calc(var(--button-lg-pad-vrt) * 1.5) var(--button-lg-pad-hrz);
        border: var(--border-main);
        border-radius: calc(var(--button-lg-pad-hrz) * 1.5);
        transition: color var(--transition-100),
                    background-color var(--transition-100),
                    border-color var(--transition-100);
    }
}