// Partial SCSS file containing button styling



/* ============================================
   BUTTON
   ============================================ */

/* === VARIABLES ============================== */
.button{
    &--lg{
        /* variables */
        --button-lg-pad-vrt: min(0.3vw, calc(var(--main-max-width) * 0.003));
        --button-lg-pad-hrz: min(2vw, calc(var(--main-max-width) * 0.02));
    }
}

@media only screen and (max-width: 1200px){
    .button{
        &--lg{
            /* variables */
            --button-lg-pad-vrt: 0.6vw;
            --button-lg-pad-hrz: 3vw;
        }
    }
}

@media only screen and (max-width: 600px){
    .button{
        &--lg{
            /* variables */
            --button-lg-pad-vrt: 1.1vw;
            --button-lg-pad-hrz: 6vw;
        }
    }
}


/* === ACTUAL CODE ============================ */
.button {
    &--lg{
        display: block;
        padding: var(--button-lg-pad-vrt) var(--button-lg-pad-hrz) calc(var(--button-lg-pad-vrt) * 1.5) var(--button-lg-pad-hrz);
        border-radius: calc(var(--button-lg-pad-hrz) * 1.5);
    }
}