// SCSS file containing CSS styles for index.html



// === USE ====================================
@use '../abstracts' as a;
@use '../base' as b;


/* ============================================
   CATEGORY PAGES
   ============================================ */

 /* === TOP BAR ================================ */
.topbar{
    /* back button */
    &__back{
        /* tooltip */
        &::after{
            content: attr(aria-label);
            top: calc(100% - var(--topbar-pad-vrt) - var(--topbar-item-pad) + var(--themepicker-tooltip-pad-top));
            left: var(--main-pad-hrz);
            transform-origin: top right;
        }
 
        &:hover::after, &:focus-visible::after {
            transform: scale(1);
            transition: transform var(--transition-100);
         }
    }
}
 

/* === MAIN =================================== */

.text{
    &--lg{
        padding-bottom: var(--main-pad-sm);
    }
}

.title{
    padding-bottom: var(--main-pad-sm);
}
 
.quicklink{
    padding-bottom: var(--main-pad-lg);
    /* flexbox */
    display: flex;
    flex-flow: row nowrap;
 
    &__item{
        padding-right: var(--footer-link-pad-right);
 
        &:last-child{
            padding-right: 0;
        }
    }
}

.steps{
    padding-top: var(--steps-item-gap);
    &__item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: var(--steps-pad-vrt) var(--steps-pad-hrz);
        margin-bottom: var(--steps-item-gap);
        border-radius: var(--steps-border-radius);

        &__main{
            display: flex;
            flex-flow: column nowrap;

            h2{
                line-height: 1;
                margin-top: var(--steps-h2-pad-top);
            }

            p{
                margin-top: auto;
            }
        }

        &__illu{
            /* flexbox */
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            align-content: center;
        }
    }
}

.caution{
    &__item{
       .text--md{
          a{
             &:hover{
                color: var(--clr-caution-1100);
                background-color: var(--clr-caution-200);
             }

             &:focus{
               color: var(--clr-caution-1100);
               background-color: var(--clr-caution-200);
             }
          }
       }
    }
 }



/* ========================================
    BREAKPOINTS
    ======================================== */

@media only screen and (max-width: b.$breakpoint-tablet){

}

@media only screen and (max-width: b.$breakpoint-mobile){
    .quicklink{
        flex-flow: column nowrap;
        align-items: left;

        &__item{
            padding-right: 0;
            padding-bottom: var(--footer-link-pad-bottom);

            &:last-child{
                padding-bottom: 0;
            }
        }
    }

    .steps{
        &__item{
            grid-template-columns: 1fr;

            &__main{
                h2{
                    padding-bottom: var(--steps-pad-vrt);
                }

                p{
                    margin-top: 0;
                    padding-bottom: var(--steps-pad-vrt);
                }
            }
        }
    }
}