// Partial SCSS file containing footer styling



// === USE ====================================
@use '../base' as b;



/* ============================================
   FOOTER
   ============================================ */


/* === VARIABLES ============================== */
body{
    --footer-pad-vrt: var(--main-pad-vrt);
    --footer-transition-height: var(--main-pad-hrz);
    --footer-container-grid: 60% 40%;
    --footer-suggestions-width: min(35vw, calc(var(--main-max-width) * 0.35));
    --footer-title-pad-bottom: min(1vw, calc(var(--main-max-width) * 0.01));
    --footer-link-pad-right: min(1.1vw, calc(var(--main-max-width) * 0.011));
    --footer-link-pad-bottom: min(1.3vw, calc(var(--main-max-width) * 0.013));

    --footer-illu-height: 100%;
    --footer-illu-cardboard-width: min(32vw, calc(var(--main-max-width) * 0.32));
    --footer-illu-cardboard-pad-top: min(20vw, calc(var(--main-max-width) * 0.2));
    --footer-illu-cardboard-pad-left: min(2vw, calc(var(--main-max-width) * 0.02));
    --footer-illu-carton-width: min(13.5vw, calc(var(--main-max-width) * 0.135));
    --footer-illu-carton-pad-top: min(15vw, calc(var(--main-max-width) * 0.15));
    --footer-illu-carton-pad-left: min(12vw, calc(var(--main-max-width) * 0.12));
    --footer-illu-can-width: min(9vw, calc(var(--main-max-width) * 0.09));
    --footer-illu-can-pad-top: min(12vw, calc(var(--main-max-width) * 0.12));
    --footer-illu-can-pad-left: min(22vw, calc(var(--main-max-width) * 0.22));
}

@media only screen and (max-width: b.$breakpoint-tablet){
    body{
        /* varaibles */
        --footer-pad-vrt: 8vw;
        --footer-transition-height: 8vw;
        --footer-container-grid: 1fr;
        --footer-suggestions-width: 70vw;
        --footer-title-pad-bottom: 1.5vw;
        --footer-link-pad-right: 1.6vw;
        --footer-link-pad-bottom: 2vw;

        --footer-illu-height: 35vw;
        --footer-illu-cardboard-width: 41.6vw;
        --footer-illu-cardboard-pad-top: 18.5vw;
        --footer-illu-cardboard-pad-left: 23vw;
        --footer-illu-carton-width: 17.55vw;
        --footer-illu-carton-pad-top: 12vw;
        --footer-illu-carton-pad-left: 36vw;
        --footer-illu-can-width: 11.7vw;
        --footer-illu-can-pad-top: 9vw;
        --footer-illu-can-pad-left: 48.5vw;
    }
}

@media only screen and (max-width: b.$breakpoint-mobile){
    body{
        /* varaibles */
        --footer-pad-vrt: 15vw;
        --footer-transition-height: 17vw;
        --footer-container-grid: 1fr;
        --footer-suggestions-width: 100%;
        --footer-title-pad-bottom: 1.5vw;
        --footer-link-pad-right: 2.5vw;
        --footer-link-pad-bottom: 3vw;

        --footer-illu-height: 65vw;
        --footer-illu-cardboard-width: 64vw;
        --footer-illu-cardboard-pad-top: 39vw;
        --footer-illu-cardboard-pad-left: 10vw;
        --footer-illu-carton-width: 27vw;
        --footer-illu-carton-pad-top: 28.5vw;
        --footer-illu-carton-pad-left: 30vw;
        --footer-illu-can-width: 18vw;
        --footer-illu-can-pad-top: 22vw;
        --footer-illu-can-pad-left: 50vw;
    }
}


/* === ACTUAL CODE ============================ */
.footer{
    &__transition{
       height: var(--footer-transition-height);
       border-bottom-right-radius: var(--footer-transition-height);
       border-bottom-left-radius: var(--footer-transition-height);
    }
 
    &__container{
       max-width: var(--main-max-width);
       padding: var(--footer-pad-vrt) var(--main-pad-hrz);
       margin: auto;
       /* grid */
       display: grid;
       grid-template-columns: var(--footer-container-grid);
    }
 
    &__flexbox{
       display: flex;
       flex-flow: column nowrap;
    }
 
    &__suggestions{
       width: var(--footer-suggestions-width);
    }
 
    &__credits{
       padding-top: var(--footer-pad-vrt);
    }
 
    &__title{
       padding-top: calc(var(--footer-pad-vrt) - var(--footer-title-pad-bottom));
       padding-bottom: var(--footer-title-pad-bottom);
    }
 
    &__linklist{
       display: flex;
       flex-flow: row wrap;
 
       li{
          padding-right: var(--footer-link-pad-right);
          padding-bottom: var(--footer-link-pad-bottom);
       }
    }
 
    &__link{
        transition: color var(--transition-200);
    }

    &__btp{
        width: max-content;
        margin-top: calc(var(--footer-pad-vrt) - var(--footer-title-pad-bottom));
    }
 
    &__version{
        padding-top: calc(var(--footer-pad-vrt) / 2);
    }

    /* illustrations */
    &__illu{
       height: var(--footer-illu-height);
       overflow: hidden;
       
       &--cardboard{
          width: var(--footer-illu-cardboard-width);
          top: var(--footer-illu-cardboard-pad-top) !important;
          left: var(--footer-illu-cardboard-pad-left) !important;
       }

       &--carton{
          width: var(--footer-illu-carton-width);
          top: var(--footer-illu-carton-pad-top) !important;
          left: var(--footer-illu-carton-pad-left) !important;
       }

       &--can{
          width: var(--footer-illu-can-width);
          top: var(--footer-illu-can-pad-top) !important;
          left: var(--footer-illu-can-pad-left) !important;
       }
    }
    
 }

 @media only screen and (max-width: b.$breakpoint-tablet){
   .footer{
      &__container{
         padding-bottom: 0;
      }
   }
}

@media only screen and (max-width: b.$breakpoint-mobile){
}