// Partial SCSS file containing tooltip styling



/* ============================================
   TOOLTIP
   ============================================ */

.tooltip::after{
   font-family: 'Lexend Deca', sans-serif;
   line-height: 1.5;
    // add content
    width: max-content;
    position: absolute;
    // add position (top, right, bottom, or left)
    font-size: var(--fs-9);
    padding: var(--tooltip-pad-vrt) var(--tooltip-pad-hrz);
    border-radius: calc(var(--tooltip-pad-vrt) + var(--fs-9));
    transform: scale(0);
    // add transform-origin
    transition: transform var(--transition-50);
 }