// Partial SCSS file containing color variables



// ============================================
// COLORS
// ============================================

// light theme
$light: (
    0: #FFFFFF,                /* default background color */
);



// dark mode
$dark: (
    0: #000000,                /* default background color */
);



// high contrast mode
$hc: (
    0: #FFFFFF,                /* default background color */
);